---
title: "ICSB 2008"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="Interesting_Events">Interesting Events</h3>
<dl><dt>Jens Timmer</dt><dd> Modeling with Identifiable Models (DS2-2-02)</dd></dl><br />
<dl><dt>Michael Ederer</dt><dd> Thermodynamic-kinetic modeling of complex formation in signal transduction (DS2-2-03)</dd></dl><br />
<dl><dt>Eva Balso-Canto</dt><dd> An optimal identification procedure for model development ins systems biology (DS2-2-05)</dd></dl><br />
<dl><dt>Rod Smallwood et. al</dt><dd> FLAME - a Flexible Large-scale Agent Modeling Environment (MV-H11)</dd></dl><br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
