---
title: "Functionality"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="Design_Goals_">Design Goals:</h3>
<ul><li> Handle all computational calculations
</li><li> Supply an efficient dependency graph which determines dependents and prerequisites
</li><li> Multiple instances must be executable in parallel
</li><li> Allows task specific mathematical model extensions
</li><li> Must be compatible with the existing output scheme
</li><li> Report discontinuities (piecewise defined functions, floor, and ceil)
</li></ul>
<br />
<h3 name="Class_Overview_"> Class Overview:</h3>
<span class="img"><img alt="" src="MathematicalModelClasses.png" border="0"  width="800" /></span><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
