---
title: "COPASI 4 4 29 development"
structure: "Change_History"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="span_style_color_000088_Version_4_4_Build_29_span_"><span style="color:#000088;">Version 4.4 (Build 29)</span></h3>
Release Date: January 5, 2009<br />
<h4 name="New_Features">New Features</h4>
<ul><li> There are no new features in this release. This is a bug fix release for <a title="COPASI: Support/Change History/COPASI 4 4 28 development" href="{{ site.baseurl }}/Support/Change_History/COPASI_4_4_28_development" >COPASI 4.4 (Build 28)</a>
</li></ul>
<h4 name="Bug_Fixes">Bug Fixes</h4>
<ul><li> Graphical User Interface (CopasiUI)
<ul><li> Added missing reaction rates to the selection widget for mathematical expressions where appropriate.
</li><li> Fixed crash caused by changing the assignment of modifiers in the kinetic law in the reaction widget.
</li><li> Fixed rare crash occurring when leaving/committing the sensitivities task.
</li><li> Fixed crash in the optimization task with MCA which occurred when the MCA task was not applicable to the model.
</li><li> Fixed problem in selecting the result of the sensitivity task, which was not possible if the result of the sensitivity is just a single value instead of a vector or a matrix.
</li></ul></li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
