---
title: "Introduction"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

Profiling is a technique for investigating the behavior of a program using information gathered during the execution or running of the program. The goal of code profiling is to determine which parts of a program to optimize for speed or memory usage.<br />
<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
