---
title: "Model Changes"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<ul><li> Model entities of type FIXED must distinguish between initial and transient values.
</li><li> Local reaction parameters must distinguish between initial and transient values.
</li></ul>

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
