---
title: Error 404
section: Home
---

{% include header.html %}
{% include navbar.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="ErrorMessage">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">   
  var id_map = {};

  id_map[1] = 'homepage';
  id_map[3] = 'screenshots';
  id_map[4] = 'oldversions';
  id_map[5] = 'build10changelog';
  id_map[6] = 'team';
  id_map[8] = 'build11changelog';
  id_map[9] = 'documentation+af8-old';
  id_map[10] = 'trademarks';
  id_map[11] = 'build12changelog';
  id_map[12] = 'build13changelog';
  id_map[13] = 'build14changelog';
  id_map[14] = 'build15changelog';
  id_map[15] = 'sandbox';
  id_map[17] = 'license';
  id_map[18] = 'build17changelog';
  id_map[19] = 'viewlicense';
  id_map[20] = 'icsb+ac0-2006';
  id_map[21] = 'build18changelog';
  id_map[24] = 'linuxbuildinstructions';
  id_map[25] = 'darwinbuildinstructions';
  id_map[27] = 'win32buildinstructions';
  id_map[28] = 'registration';
  id_map[29] = 'confirmation';
  id_map[30] = 'copasitutorialfiles';
  id_map[31] = 'build19changelog';
  id_map[33] = 'commercialdownload';
  id_map[34] = 'commercial';
  id_map[35] = 'commerciallicense';
  id_map[36] = 'projects+af8-old';
  id_map[37] = 'build20changelog';
  id_map[39] = 'documentation+ac0-technical';
  id_map[40] = 'build21changelog';
  id_map[41] = 'build22changelog';
  id_map[42] = 'miriamannotationintroduction';
  id_map[43] = 'codeprofilingintroduction';
  id_map[44] = 'build23changelog';
  id_map[47] = 'change+af8-history';
  id_map[63] = 'build9changelog';
  id_map[64] = 'miriamannotationtoc';
  id_map[65] = 'codeprofilingtoc';
  id_map[67] = 'icsb2007';
  id_map[68] = 'ccb2007';
  id_map[69] = 'icsb2006introduction';
  id_map[70] = 'miriamresources';
  id_map[71] = 'icsb2006advanced';
  id_map[72] = 'eventspast';
  id_map[73] = 'tiki+af8-configuration';
  id_map[74] = 'tikiconfigurationaccesscontrol';
  id_map[75] = 'intranet';
  id_map[76] = 'developers';
  id_map[77] = 'developersenvironment';
  id_map[78] = 'developersenvironmentlinux';
  id_map[79] = 'developersenvironmentmacosx';
  id_map[80] = 'developersenvironmentsunos';
  id_map[81] = 'developersenvironmentwin32';
  id_map[82] = 'developersguidelines';
  id_map[83] = 'codeprofilingtools';
  id_map[84] = 'codeprofilingtasks';
  id_map[85] = 'miriamrdf';
  id_map[86] = 'workshops';
  id_map[87] = '2008+ac0-11';
  id_map[88] = 'testsuiteintro';
  id_map[89] = 'build24changelog';
  id_map[90] = 'eventsuserworkshop2008';
  id_map[91] = 'miriamterms';
  id_map[92] = 'build25changelog';
  id_map[94] = 'language+af8-bindings';
  id_map[97] = 'languagebindingsiijava';
  id_map[98] = 'languagebindingsiipython';
  id_map[99] = 'languagebindingsiisource';
  id_map[100] = 'download';
  id_map[101] = 'downloadnoncommercial';
  id_map[102] = 'downloadcommercial';
  id_map[103] = 'downloadnoncommercialbindings';
  id_map[104] = 'downloadnoncommercialold';
  id_map[105] = 'downloadcommercialbindings';
  id_map[106] = 'downloadcommerciallogin';
  id_map[107] = 'downloadcommercialold';
  id_map[108] = 'documentation';
  id_map[109] = 'installation';
  id_map[110] = 'buildinstructions';
  id_map[111] = 'installationlinux';
  id_map[112] = 'installationdarwin';
  id_map[114] = 'installationwin32';
  id_map[115] = 'usermanual';
  id_map[116] = 'documentationtechnical';
  id_map[118] = 'documentationapi';
  id_map[119] = 'documentationschema';
  id_map[120] = 'build26changelog';
  id_map[121] = 'copasi';
  id_map[122] = 'testpage';
  id_map[123] = 'copasiml';
  id_map[124] = 'eventstoc';
  id_map[125] = 'eventstrigger';
  id_map[126] = 'eventsassignment';
  id_map[127] = 'eventsdelay';
  id_map[128] = 'eventssimultaneous';
  id_map[129] = 'eventscascading';
  id_map[130] = 'eventsimplementation';
  id_map[131] = 'eventsprocessqueue';
  id_map[132] = 'events/userworkshop2008/agenda';
  id_map[133] = 'eventsoverview';
  id_map[134] = 'workshops+af8-and+af8-tutorials';
  id_map[135] = 'intranetfeature';
  id_map[136] = 'build27changelog';
  id_map[137] = 'documentationmiriam';
  id_map[138] = 'icsb 2008';
  id_map[140] = 'knownproblems';
  id_map[141] = 'satoc';
  id_map[142] = 'sadatamodel';
  id_map[143] = 'saclassstructure';
  id_map[144] = 'sacopasiobject';
  id_map[145] = 'sacopasiparameter';
  id_map[146] = 'sacopasitask';
  id_map[147] = 'sagui';
  id_map[148] = 'saoutputsystem';
  id_map[149] = 'saoutputsystemoverview';
  id_map[150] = 'saoutputsystemimplementation';
  id_map[151] = 'saprocessreport';
  id_map[152] = 'samodelclasses';
  id_map[153] = 'samodeldependencies';
  id_map[154] = 'samodelcompile';
  id_map[155] = 'samodelcalculation';
  id_map[157] = 'sacopasiml';
  id_map[158] = 'sasbml';
  id_map[159] = 'samiriam';
  id_map[161] = 'sarandomgenerator';
  id_map[162] = 'saunitanalysis';
  id_map[164] = 'saarrayannotation';
  id_map[165] = 'saoutputdefinitions';
  id_map[166] = 'sbml';
  id_map[167] = 'test cases';
  id_map[168] = 'guiforlargemodels';
  id_map[169] = 'samodelfunctionality';
  id_map[170] = 'build28changelog';
  id_map[171] = 'build29changelog';
  id_map[172] = 'eventsuserworkshop2009';
  id_map[173] = 'qt4conversion';
  id_map[174] = 'saselectionfilter';
  id_map[175] = 'mutliple models';
  id_map[176] = 'eventsmodelchanges';
  id_map[179] = 'od.model.creation';
  id_map[180] = 'od.introduction';
  id_map[181] = 'od.commandline.version.and.commandline.options';
  id_map[182] = 'od.copasi.gui.elements';
  id_map[183] = 'od.general.model.settings';
  id_map[184] = 'od.compartments';
  id_map[185] = 'od.species';
  id_map[186] = 'od.reactions';
  id_map[187] = 'od.global.quantities';
  id_map[188] = 'od.annotating.models.and.model.elements';
  id_map[189] = 'od.parameter.view';
  id_map[190] = 'od.user.defined.functions';
  id_map[191] = 'od.sliders';
  id_map[192] = 'od.tutorial.wizard';
  id_map[193] = 'od.output';
  id_map[194] = 'od.predefined.reports';
  id_map[195] = 'od.output.assistant';
  id_map[196] = 'od.manual.definition';
  id_map[197] = 'od.reports';
  id_map[198] = 'od.plots';
  id_map[199] = 'od.simple.tasks';
  id_map[200] = 'od.steady+ac0-state.analysis';
  id_map[201] = 'od.stoichiometric.state.analysis';
  id_map[202] = 'od.elementary.flux.modes';
  id_map[203] = 'od.mass.conservations';
  id_map[204] = 'od.time.course.simulation';
  id_map[205] = 'od.working.with.plots';
  id_map[206] = 'od.metabolic.control.analysis.mca';
  id_map[207] = 'od.lyapunov.exponents';
  id_map[208] = 'od.parameter.scan';
  id_map[209] = 'od.optimization';
  id_map[210] = 'od.parameter.estimation';
  id_map[211] = 'od.experimental.data';
  id_map[212] = 'od.result';
  id_map[213] = 'od.sensitivity.analysis';
  id_map[214] = 'od.importing.and.exporting';
  id_map[215] = 'od.importing.and.exporting.sbml.files';
  id_map[216] = 'od.exporting.c.source.files';
  id_map[217] = 'od.exporting.berkeley.madonna.files';
  id_map[218] = 'od.exporting.xppaut.files';
  id_map[219] = 'od.diagrams';
  id_map[220] = 'od.the.model.in.copasi';
  id_map[221] = 'od.fixed.quantities';
  id_map[222] = 'od.quantities.with.assignment';
  id_map[223] = 'od.quantities.with.differential.equation';
  id_map[224] = 'od.functions';
  id_map[225] = 'od.deterministic.interpretation.of.the.model';
  id_map[226] = 'od.stochastic.interpretation.of.the.model';
  id_map[227] = 'od.methods';
  id_map[228] = 'od.time.course.calculation';
  id_map[229] = 'od.deterministic.simulation';
  id_map[230] = 'od.stochastic.simulation';
  id_map[231] = 'od.hybrid.simulation';
  id_map[232] = 'od.steady.state.calculation';
  id_map[233] = 'od.metabolic.control.analysis';
  id_map[234] = 'od.control.coefficients';
  id_map[235] = 'od.summation.theorem';
  id_map[236] = 'od.enzyme.kinetics.and.the.elasticity.coefficients';
  id_map[237] = 'od.connectivity.relations';
  id_map[238] = 'od.scaling';
  id_map[239] = 'od.optimization.methods';
  id_map[240] = 'od.evolutionary.programming';
  id_map[241] = 'od.evolutionary.strategy.sres';
  id_map[242] = 'od.genetic.algorithm';
  id_map[243] = 'od.genetic.algorithm.sr';
  id_map[244] = 'od.hooke.jeeves';
  id_map[245] = 'od.levenberg.marquardt';
  id_map[246] = 'od.nelder.mead';
  id_map[247] = 'od.particle.swarm';
  id_map[248] = 'od.praxis';
  id_map[249] = 'od.random.search';
  id_map[250] = 'od.simulated.annealing';
  id_map[251] = 'od.steepest.descent';
  id_map[252] = 'od.truncated.newton';
  id_map[253] = 'od.lyapunov.exponents.calculation';
  id_map[254] = 'od.sensitivities.calculation';
  id_map[256] = 'od.error.messages';
  id_map[257] = 'od.memory.allocation';
  id_map[258] = 'od.gepasi.file.reader';
  id_map[259] = 'od.kinetic.function';
  id_map[260] = 'od.range';
  id_map[261] = 'od.copasi.vector';
  id_map[262] = 'od.function.parameter';
  id_map[263] = 'od.mass.action';
  id_map[264] = 'od.copasi.method';
  id_map[265] = 'od.reaction';
  id_map[266] = 'od.chemical.equation';
  id_map[267] = 'od.method.parameter';
  id_map[268] = 'od.trajectory.method';
  id_map[269] = 'od.xml.reader';
  id_map[270] = 'od.message.queue';
  id_map[271] = 'od.configuration.file';
  id_map[272] = 'od.optimization.task';
  id_map[273] = 'od.sbml';
  id_map[274] = 'od.trajectory.task';
  id_map[275] = 'od.directory.entry';
  id_map[276] = 'od.mathml';
  id_map[277] = 'od.function';
  id_map[278] = 'od.evaluation.node';
  id_map[279] = 'od.copasi.task';
  id_map[280] = 'od.parameter.fitting';
  id_map[281] = 'od.copasi.object';
  id_map[282] = 'od.lyapunov.exponent.calculation';
  id_map[283] = 'od.ode.export';
  id_map[284] = 'od.commercial.version';
  id_map[286] = 'od.time.scale.separation.method';
  id_map[287] = 'od.time.scale.separation.problem';
  id_map[288] = 'od.eigen.value';
  id_map[289] = 'od.bibliography';
  id_map[291] = 'od.model.compartments';
  id_map[292] = 'od.model.species';
  id_map[293] = 'od.model.global.quantities';
  id_map[297] = 'od.model.reactions';
  id_map[298] = 'od.model.functions';
  id_map[299] = 'od.model.deterministic.interpretation.of.the.model';
  id_map[300] = 'od.model.stochastic.interpretation.of.the.model';
  id_map[302] = 'user+af8-manual';
  id_map[303] = 'od.time.scale.separation';
  id_map[304] = 'od.message.steady.state.calculation';
  id_map[305] = 'od.time.scale.separation.analysis';
  id_map[306] = 'od.ildm';
  id_map[307] = 'od.modified.ildm';
  id_map[308] = 'build30changelog';
  id_map[309] = 'jointannouncement';
  id_map[310] = 'eventstriggercompile';
  id_map[311] = 'eventsuserworkshop2009agenda';
  id_map[312] = 'sa+ac0-gui+ac0-filedialogs';
  id_map[313] = 'intranet+ac0-testsuite+ac0-sbml';
  id_map[314] = '+aco-developersenvironment';
  id_map[315] = '+aco-developersenvironmentmacosx';
  id_map[316] = '+aco-developersenvironmentwin32';
  id_map[317] = '+aco-developersenvironmentlinux';
  id_map[318] = '+aco-developersenvironmentsunos';
  id_map[319] = '+aco-documentationapi';
  id_map[320] = '+aco-homepage';
  id_map[321] = '+aco-languagebindingsiisource';
  id_map[322] = '+aco-downloadnoncommercialbindings';
  id_map[323] = '+aco-teammeeting';
  id_map[324] = 'teammeeting';
  id_map[325] = 'featurelist';
  id_map[326] = 'funding';
  id_map[327] = 'build31changelog';
  id_map[328] = 'samathmodel';
  id_map[329] = 'samathstate';
  id_map[330] = 'samathmodelapi';
  id_map[331] = 'samathentity';
  id_map[332] = 'eventsuserworkshop2010';
  id_map[333] = 'eventsuserworkshop2010+ac0-agenda';
  id_map[334] = 'publications';
  id_map[335] = 'sbml level 3 issues';
  id_map[336] = 'od.events';
  id_map[337] = 'build32changelog';
  id_map[338] = 'downloadnoncommercialdevelopment';
  id_map[339] = 'artisticlicense';
  id_map[340] = 'build33changelog';
  id_map[341] = 'videotutorials';
  id_map[342] = 'samathobject';
  id_map[343] = 'samathdependencygraph';
  id_map[344] = 'fastreactionstoc';
  id_map[345] = 'fastreactionmath';
  id_map[346] = 'fastreationode';
  id_map[347] = 'eventsuserworkshop2011';
  id_map[348] = 'samathdiscontinuities';
  id_map[349] = 'build34changelog';
  id_map[350] = 'eventsuserworkshop2011+ac0-agenda';
  id_map[351] = 'teammeeting2011';
  id_map[352] = 'optimisation benchmarks';
  id_map[353] = 'od.task.linearnoiseapproximation';
  id_map[354] = 'downloadoldbindings';
  id_map[355] = 'csp';
  id_map[356] = 'build35changelog';
  id_map[357] = 'eventsuserworkshop2012';
  id_map[358] = 'eventsmanchesterworkshop2013a';
  id_map[359] = 'eventsuserworkshop2013';
  id_map[360] = 'build45changelog';
  id_map[361] = 'samathevent';
  id_map[362] = 'samathreaction';
  id_map[363] = 'build55changelog';
  id_map[364] = 'eventsuserworkshop2013+ac0-agenda';
  id_map[365] = 'eventsuserworkshop2013+ac0-materials';
  id_map[366] = 'video production';
  id_map[367] = 'developersgit';
  id_map[369] = 'projects';
  id_map[370] = 'msmb';
  id_map[371] = 'aggregationconnector';
  id_map[372] = 'copasi user workshop manchester september 2013';
  id_map[373] = 'user feedback (sep2013)';
  id_map[374] = 'build64changelog';
  id_map[375] = 'build65changelog';
  id_map[376] = 'msmb.introduction';
  id_map[377] = 'msmb.bibliography';
  id_map[378] = 'msmb.firstmultistatemodel';
  id_map[379] = 'msmb.detaileduserguide';
  id_map[380] = 'msmb.download';
  id_map[381] = 'msmb.specialfeatures';
  id_map[382] = 'msmb.reservedkeywords';
  id_map[383] = 'msmb.multistatesyntax';
  id_map[384] = 'build??changelog';
  id_map[385] = 'build81changelog';
  id_map[386] = 'msmb+ac0-rm';
  id_map[388] = 'msmb+ac0-rm.introduction';
  id_map[389] = 'msmb+ac0-rm.download';
  id_map[390] = 'msmb+ac0-rm.firstmodel';
  id_map[394] = 'ac.download';
  id_map[396] = 'ac.usermanual';
  id_map[397] = 'build87changelog';
  id_map[399] = 'userforum';
  id_map[400] = 'build89changelog';
  id_map[401] = 'build';
  id_map[402] = 'msmb+ac0-rm.configurationwithconflicts';
  id_map[403] = 'build95changelog';
  id_map[404] = 'manchester2015';

  var page_map = {};

  page_map['ac.download'] = 'Projects/JigCell_Model_Connector/Download';
  page_map['ac.usermanual'] = 'Projects/JigCell_Model_Connector/User_Manual';
  page_map['aggregationconnector'] = 'Projects/JigCell_Model_Connector';
  page_map['build10changelog'] = 'Support/Change_History/COPASI_4_0_Build_10_test_version';
  page_map['build11changelog'] = 'Support/Change_History/COPASI_4_0_Build_11_test_version';
  page_map['build12changelog'] = 'Support/Change_History/COPASI_4_0_Build_12_test_version';
  page_map['build13changelog'] = 'Support/Change_History/COPASI_4_0_Build_13_test_version';
  page_map['build14changelog'] = 'Support/Change_History/COPASI_4_0_Build_14_test_version';
  page_map['build15changelog'] = 'Support/Change_History/COPASI_4_0_Build_15_test_version';
  page_map['build17changelog'] = 'Support/Change_History/COPASI_4_0_Build_17_RC_1';
  page_map['build18changelog'] = 'Support/Change_History/COPASI_4_0_Build_18';
  page_map['build19changelog'] = 'Support/Change_History/COPASI_4_0_19_development';
  page_map['build20changelog'] = 'Support/Change_History/COPASI_4_0_20_development';
  page_map['build21changelog'] = 'Support/Change_History/COPASI_4_1_Build_21';
  page_map['build22changelog'] = 'Support/Change_History/COPASI_4_2_Build_22';
  page_map['build23changelog'] = 'Support/Change_History/COPASI_4_2_23_development';
  page_map['build24changelog'] = 'Support/Change_History/COPASI_4_2_24_development';
  page_map['build25changelog'] = 'Support/Change_History/COPASI_4_3_Build_25';
  page_map['build26changelog'] = 'Support/Change_History/COPASI_4_4_Build_26';
  page_map['build27changelog'] = 'Support/Change_History/COPASI_4_4_27_development';
  page_map['build28changelog'] = 'Support/Change_History/COPASI_4_4_28_development';
  page_map['build29changelog'] = 'Support/Change_History/COPASI_4_4_29_development';
  page_map['build30changelog'] = 'Support/Change_History/COPASI_4_5_Build_30';
  page_map['build31changelog'] = 'Support/Change_History/COPASI_4_5_31_development';
  page_map['build32changelog'] = 'Support/Change_History/COPASI_4_6_Build_32';
  page_map['build33changelog'] = 'Support/Change_History/COPASI_4_6_33_development';
  page_map['build34changelog'] = 'Support/Change_History/COPASI_4_7_Build_34';
  page_map['build35changelog'] = 'Support/Change_History/COPASI_4_8_Build_35';
  page_map['build45changelog'] = 'Support/Change_History/COPASI_4_9_45_development';
  page_map['build55changelog'] = 'Support/Change_History/COPASI_4_10_Build_55';
  page_map['build64changelog'] = 'Support/Change_History/COPASI_4_11_Build_64';
  page_map['build65changelog'] = 'Support/Change_History/COPASI_4_11_Build_65';
  page_map['build81changelog'] = 'Support/Change_History/COPASI_4_12_Build_81';
  page_map['build87changelog'] = 'Support/Change_History/COPASI_4_13_Build_87';
  page_map['build89changelog'] = 'Support/Change_History/COPASI_4_14_Build_89';
  page_map['build95changelog'] = 'Support/Change_History/COPASI_4_15_Build_95';
  page_map['build9changelog'] = 'Support/Change_History/COPASI_4_0_Build_9_test_version';
  page_map['buildinstructions'] = 'Build_Instructions';
  page_map['ccb2007'] = 'Events/Past_Events/Computational_Cell_Biology_2007';
  page_map['change_history'] = 'Support/Change_History';
  page_map['codeprofilingintroduction'] = 'Hidden/Intranet/Code_Profiling/Introduction';
  page_map['codeprofilingtasks'] = 'Hidden/Intranet/Code_Profiling/Tasks';
  page_map['codeprofilingtoc'] = 'Hidden/Intranet/Code_Profiling';
  page_map['codeprofilingtools'] = 'Hidden/Intranet/Code_Profiling/Tools';
  page_map['copasi user workshop manchester september 2013'] = 'Events/Past_Events/COPASI_User_Workshop_Manchester_September_2013';
  page_map['copasi'] = 'COPASI';
  page_map['copasiml'] = 'Hidden/Intranet/Miriam_Annotation/CopasiML';
  page_map['csp'] = 'Support/User_Manual/Methods/Time_Scale_Separation_Methods/CSP';
  page_map['darwinbuildinstructions'] = 'Build_Instructions/Mac_OS_X';
  page_map['developers'] = 'Hidden/Intranet/Development_Resources';
  page_map['developersenvironment'] = 'Hidden/Intranet/Development_Resources/Build_Environment';
  page_map['developersenvironmentlinux'] = 'Hidden/Intranet/Development_Resources/Build_Environment/Linux';
  page_map['developersenvironmentmacosx'] = 'Hidden/Intranet/Development_Resources/Build_Environment/MacOS_X';
  page_map['developersenvironmentsunos'] = 'Hidden/Intranet/Development_Resources/Build_Environment/Solaris';
  page_map['developersenvironmentwin32'] = 'Hidden/Intranet/Development_Resources/Build_Environment/Windows';
  page_map['developersgit'] = 'Hidden/Intranet/Development_Resources/Build_Environment/Git';
  page_map['developersguidelines'] = 'Hidden/Intranet/Development_Resources/Guide_Lines';
  page_map['documentationapi'] = 'Support/Technical_Documentation/C___API_Documentation';
  page_map['documentationmiriam'] = 'Support/Technical_Documentation/MIRIAM_Annotation';
  page_map['documentationschema'] = 'Support/Technical_Documentation/File_Format';
  page_map['documentationtechnical'] = 'Support/Technical_Documentation';
  page_map['download'] = 'Download/Obsolete';
  page_map['downloadcommercial'] = 'Download/Obsolete/Commercial_License_Only_Older_Versions';
  page_map['downloadcommercialbindings'] = 'Download/Obsolete/Commercial_License_Only_Older_Versions/Language_Bindings';
  page_map['downloadcommerciallogin'] = 'Download/Obsolete/Commercial_License_Only_Older_Versions/Customer_Login';
  page_map['downloadcommercialold'] = 'Download/Obsolete/Commercial_License_Only_Older_Versions/Older_Versions';
  page_map['downloadnoncommercial'] = 'Download/Obsolete/Free_Version_Artistic_License_2_0';
  page_map['downloadnoncommercialbindings'] = 'Download/Obsolete/Free_Version_Artistic_License_2_0/Language_Bindings';
  page_map['downloadnoncommercialold'] = 'Download/Obsolete/Free_Version_Artistic_License_2_0/Older_Versions';
  page_map['downloadoldbindings'] = 'Download/Obsolete/Free_Version_Artistic_License_2_0/Language_Bindings/Older_Versions';
  page_map['events/userworkshop2008/agenda'] = 'Events/Past_Events/COPASI_User_Workshop_2008/Agenda';
  page_map['eventsassignment'] = 'Hidden/Intranet/Events/Assignment';
  page_map['eventscascading'] = 'Hidden/Intranet/Events/Cascading_Events';
  page_map['eventsdelay'] = 'Hidden/Intranet/Events/Delay';
  page_map['eventsimplementation'] = 'Hidden/Intranet/Events/Implementation';
  page_map['eventsmanchesterworkshop2013a'] = 'Events/Past_Events/COPASI_User_Workshop_Manchester_January_2013';
  page_map['eventsmodelchanges'] = 'Hidden/Intranet/Events/Implementation/Model_Changes';
  page_map['eventspast'] = 'Events/Past_Events';
  page_map['eventsprocessqueue'] = 'Hidden/Intranet/Events/Implementation/Process_Queue';
  page_map['eventssimultaneous'] = 'Hidden/Intranet/Events/Simultaneous_Events';
  page_map['eventstoc'] = 'Hidden/Intranet/Events';
  page_map['eventstrigger'] = 'Hidden/Intranet/Events/Trigger';
  page_map['eventstriggercompile'] = 'Hidden/Intranet/Events/Trigger/Compiling_the_Trigger_Expression';
  page_map['eventsuserworkshop2008'] = 'Events/Past_Events/COPASI_User_Workshop_2008';
  page_map['eventsuserworkshop2009'] = 'Events/Past_Events/COPASI_User_Workshop_2009';
  page_map['eventsuserworkshop2009agenda'] = 'Events/Past_Events/COPASI_User_Workshop_2009/Agenda';
  page_map['eventsuserworkshop2010'] = 'Events/Past_Events/COPASI_User_Workshop_2010';
  page_map['eventsuserworkshop2010-agenda'] = 'Events/Past_Events/COPASI_User_Workshop_2010/Agenda';
  page_map['eventsuserworkshop2011'] = 'Events/Past_Events/COPASI_User_Workshop_2011';
  page_map['eventsuserworkshop2011-agenda'] = 'Events/Past_Events/COPASI_User_Workshop_2011/Agenda';
  page_map['eventsuserworkshop2013'] = 'Events/Past_Events/COPASI_User_Workshop_VBI_July_2013';
  page_map['eventsuserworkshop2013-agenda'] = 'Events/Past_Events/COPASI_User_Workshop_VBI_July_2013/Agenda';
  page_map['eventsuserworkshop2013-materials'] = 'Events/Past_Events/COPASI_User_Workshop_VBI_July_2013/Materials';
  page_map['fastreactionmath'] = 'Hidden/Intranet/Fast_Reactions/Mathematical_Analysis';
  page_map['fastreactionstoc'] = 'Hidden/Intranet/Fast_Reactions';
  page_map['fastreationode'] = 'Hidden/Intranet/Fast_Reactions/ODE_Implementation';
  page_map['funding'] = 'About/Funding';
  page_map['guiforlargemodels'] = 'Hidden/Intranet/GUI_Improvements';
  page_map['icsb 2008'] = 'Hidden/Intranet/ICSB_2008';
  page_map['icsb2006advanced'] = 'Events/Past_Events/ICSB_2006_Advanced_Tutorial';
  page_map['icsb2006introduction'] = 'Events/Past_Events/ICSB_2006_Introduction_Tutorial';
  page_map['icsb2007'] = 'Events/Past_Events/ICSB_2007_Tutorial';
  page_map['installation'] = 'Support/Installation';
  page_map['installationdarwin'] = 'Support/Installation/Mac_OS_X';
  page_map['installationlinux'] = 'Support/Installation/Linux';
  page_map['installationwin32'] = 'Support/Installation/Windows';
  page_map['intranet'] = 'Hidden/Intranet';
  page_map['intranet-testsuite-sbml'] = 'Hidden/Intranet/Test_Suite/SBML';
  page_map['intranetfeature'] = 'Hidden/Intranet/Feature_Requests_User_Workshop_2008';
  page_map['jointannouncement'] = 'Hidden/Intranet/JointAnnouncement';
  page_map['language_bindings'] = 'Support/Installation/Language_Bindings';
  page_map['languagebindingsiijava'] = 'Support/Installation/Language_Bindings/Java_Bindings_Installation';
  page_map['languagebindingsiipython'] = 'Support/Installation/Language_Bindings/Python_Bindings_Installation';
  page_map['languagebindingsiisource'] = 'Support/Installation/Language_Bindings/Compiling_from_Source';
  page_map['linuxbuildinstructions'] = 'Build_Instructions/Linux';
  page_map['miriamannotationintroduction'] = 'Hidden/Intranet/Miriam_Annotation/Introduction';
  page_map['miriamannotationtoc'] = 'Hidden/Intranet/Miriam_Annotation';
  page_map['miriamrdf'] = 'Hidden/Intranet/Miriam_Annotation/RDF';
  page_map['miriamresources'] = 'Hidden/Intranet/Miriam_Annotation/Resources';
  page_map['miriamterms'] = 'Hidden/Intranet/Miriam_Annotation/Terms';
  page_map['msmb'] = 'Projects/Multistate_Model_Builder';
  page_map['msmb-rm'] = 'Projects/JigCell_Run_Manager_2_0';
  page_map['msmb-rm.configurationwithconflicts'] = 'Projects/JigCell_Run_Manager_2_0/Configuration_with_Conflicts';
  page_map['msmb-rm.download'] = 'Projects/JigCell_Run_Manager_2_0/Download';
  page_map['msmb-rm.firstmodel'] = 'Projects/JigCell_Run_Manager_2_0/First_RM_project';
  page_map['msmb-rm.introduction'] = 'Projects/JigCell_Run_Manager_2_0/Introduction';
  page_map['msmb.bibliography'] = 'Projects/Multistate_Model_Builder/Bibliography';
  page_map['msmb.detaileduserguide'] = 'Projects/Multistate_Model_Builder/User_Guide';
  page_map['msmb.download'] = 'Projects/Multistate_Model_Builder/Download';
  page_map['msmb.firstmultistatemodel'] = 'Projects/Multistate_Model_Builder/First_multistate_model';
  page_map['msmb.introduction'] = 'Projects/Multistate_Model_Builder/Introduction';
  page_map['msmb.multistatesyntax'] = 'Projects/Multistate_Model_Builder/Multistate_Species_and_Reactions_syntax';
  page_map['msmb.reservedkeywords'] = 'Projects/Multistate_Model_Builder/Reserved_Keywords';
  page_map['msmb.specialfeatures'] = 'Projects/Multistate_Model_Builder/Special_Features';
  page_map['mutliple models'] = 'Hidden/Intranet/Mutliple_Models';
  page_map['od.annotating.models.and.model.elements'] = 'Support/User_Manual/Model_Creation/Annotating_Models_and_Model_Elements';
  page_map['od.bibliography'] = 'Support/User_Manual/Bibliography';
  page_map['od.chemical.equation'] = 'Support/User_Manual/Error_Messages/Chemical_Equation';
  page_map['od.commandline.version.and.commandline.options'] = 'Support/User_Manual/Model_Creation/Commandline_Version_and_Commandline_Options';
  page_map['od.commercial.version'] = 'Support/User_Manual/Error_Messages/Commercial_Version';
  page_map['od.compartments'] = 'Support/User_Manual/Model_Creation/Compartments';
  page_map['od.configuration.file'] = 'Support/User_Manual/Error_Messages/Configuration_File';
  page_map['od.connectivity.relations'] = 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Connectivity_Relations';
  page_map['od.control.coefficients'] = 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Control_Coefficients';
  page_map['od.copasi.gui.elements'] = 'Support/User_Manual/Model_Creation/COPASI_GUI_Elements';
  page_map['od.copasi.method'] = 'Support/User_Manual/Error_Messages/COPASI_Method';
  page_map['od.copasi.object'] = 'Support/User_Manual/Error_Messages/COPASI_Object';
  page_map['od.copasi.task'] = 'Support/User_Manual/Error_Messages/COPASI_Task';
  page_map['od.copasi.vector'] = 'Support/User_Manual/Error_Messages/COPASI_Vector';
  page_map['od.deterministic.simulation'] = 'Support/User_Manual/Methods/Time_Course_Calculation/Deterministic_Simulation';
  page_map['od.diagrams'] = 'Support/User_Manual/Diagrams';
  page_map['od.directory.entry'] = 'Support/User_Manual/Error_Messages/Directory_Entry';
  page_map['od.eigen.value'] = 'Support/User_Manual/Error_Messages/Eigen_Value';
  page_map['od.elementary.flux.modes'] = 'Support/User_Manual/Tasks/Stoichiometric_State_Analysis/Elementary_Flux_Modes';
  page_map['od.enzyme.kinetics.and.the.elasticity.coefficients'] = 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Enzyme_Kinetics_and_the_Elasticity_Coefficients';
  page_map['od.error.messages'] = 'Support/User_Manual/Error_Messages';
  page_map['od.evaluation.node'] = 'Support/User_Manual/Error_Messages/Evaluation_Node';
  page_map['od.events'] = 'Support/User_Manual/Model_Creation/Events';
  page_map['od.evolutionary.programming'] = 'Support/User_Manual/Methods/Optimization_Methods/Evolutionary_Programming';
  page_map['od.evolutionary.strategy.sres'] = 'Support/User_Manual/Methods/Optimization_Methods/Evolutionary_Strategy_SRES';
  page_map['od.experimental.data'] = 'Support/User_Manual/Tasks/Parameter_Estimation/Experimental_Data';
  page_map['od.exporting.berkeley.madonna.files'] = 'Support/User_Manual/Importing_and_Exporting/Exporting_Berkeley_Madonna_Files';
  page_map['od.exporting.c.source.files'] = 'Support/User_Manual/Importing_and_Exporting/Exporting_C_Source_Files';
  page_map['od.exporting.xppaut.files'] = 'Support/User_Manual/Importing_and_Exporting/Exporting_XPPAUT_Files';
  page_map['od.function'] = 'Support/User_Manual/Error_Messages/Function';
  page_map['od.function.parameter'] = 'Support/User_Manual/Error_Messages/Function_Parameter';
  page_map['od.general.model.settings'] = 'Support/User_Manual/Model_Creation/General_Model_Settings';
  page_map['od.genetic.algorithm'] = 'Support/User_Manual/Methods/Optimization_Methods/Genetic_Algorithm';
  page_map['od.genetic.algorithm.sr'] = 'Support/User_Manual/Methods/Optimization_Methods/Genetic_Algorithm_SR';
  page_map['od.gepasi.file.reader'] = 'Support/User_Manual/Error_Messages/Gepasi_File_Reader';
  page_map['od.global.quantities'] = 'Support/User_Manual/Model_Creation/Global_Quantities';
  page_map['od.hooke.jeeves'] = 'Support/User_Manual/Methods/Optimization_Methods/Hooke___Jeeves';
  page_map['od.hybrid.simulation'] = 'Support/User_Manual/Methods/Time_Course_Calculation/Hybrid_Simulation';
  page_map['od.ildm'] = 'Support/User_Manual/Methods/Time_Scale_Separation_Methods/ILDM_Deuflhard';
  page_map['od.importing.and.exporting'] = 'Support/User_Manual/Importing_and_Exporting';
  page_map['od.importing.and.exporting.sbml.files'] = 'Support/User_Manual/Importing_and_Exporting/Importing_and_Exporting_SBML_Files';
  page_map['od.introduction'] = 'Support/User_Manual/Model_Creation/Introduction';
  page_map['od.kinetic.function'] = 'Support/User_Manual/Error_Messages/Kinetic_Function';
  page_map['od.levenberg.marquardt'] = 'Support/User_Manual/Methods/Optimization_Methods/Levenberg_-_Marquardt';
  page_map['od.lyapunov.exponent.calculation'] = 'Support/User_Manual/Error_Messages/Lyapunov_Exponent_Calculation';
  page_map['od.lyapunov.exponents'] = 'Support/User_Manual/Tasks/Lyapunov_Exponents';
  page_map['od.lyapunov.exponents.calculation'] = 'Support/User_Manual/Methods/Lyapunov_Exponents_Calculation';
  page_map['od.manual.definition'] = 'Support/User_Manual/Output/Manual_Definition';
  page_map['od.mass.action'] = 'Support/User_Manual/Error_Messages/Mass_Action';
  page_map['od.mass.conservations'] = 'Support/User_Manual/Tasks/Stoichiometric_State_Analysis/Mass_Conservations';
  page_map['od.mathml'] = 'Support/User_Manual/Error_Messages/MathML';
  page_map['od.memory.allocation'] = 'Support/User_Manual/Error_Messages/Memory_Allocation';
  page_map['od.message.queue'] = 'Support/User_Manual/Error_Messages/Message_Queue';
  page_map['od.message.steady.state.calculation'] = 'Support/User_Manual/Error_Messages/Steady_State_Calculation';
  page_map['od.metabolic.control.analysis'] = 'Support/User_Manual/Methods/Metabolic_Control_Analysis';
  page_map['od.metabolic.control.analysis.mca'] = 'Support/User_Manual/Tasks/Metabolic_Control_Analysis_MCA';
  page_map['od.method.parameter'] = 'Support/User_Manual/Error_Messages/Method_Parameter';
  page_map['od.methods'] = 'Support/User_Manual/Methods';
  page_map['od.model.compartments'] = 'Support/User_Manual/The_Model_in_COPASI/Compartments';
  page_map['od.model.creation'] = 'Support/User_Manual/Model_Creation';
  page_map['od.model.deterministic.interpretation.of.the.model'] = 'Support/User_Manual/The_Model_in_COPASI/Deterministic_Interpretation_of_the_Model';
  page_map['od.model.functions'] = 'Support/User_Manual/The_Model_in_COPASI/Functions';
  page_map['od.model.global.quantities'] = 'Support/User_Manual/The_Model_in_COPASI/Global_Quantities';
  page_map['od.model.reactions'] = 'Support/User_Manual/The_Model_in_COPASI/Reactions';
  page_map['od.model.species'] = 'Support/User_Manual/The_Model_in_COPASI/Species';
  page_map['od.model.stochastic.interpretation.of.the.model'] = 'Support/User_Manual/The_Model_in_COPASI/Stochastic_Interpretation_of_the_Model';
  page_map['od.modified.ildm'] = 'Support/User_Manual/Methods/Time_Scale_Separation_Methods/Modified_ILDM';
  page_map['od.nelder.mead'] = 'Support/User_Manual/Methods/Optimization_Methods/Nelder_-_Mead';
  page_map['od.ode.export'] = 'Support/User_Manual/Error_Messages/ODE_Export';
  page_map['od.optimization'] = 'Support/User_Manual/Tasks/Optimization';
  page_map['od.optimization.methods'] = 'Support/User_Manual/Methods/Optimization_Methods';
  page_map['od.optimization.task'] = 'Support/User_Manual/Error_Messages/Optimization_Task';
  page_map['od.output'] = 'Support/User_Manual/Output';
  page_map['od.output.assistant'] = 'Support/User_Manual/Output/Output_Assistant';
  page_map['od.parameter.estimation'] = 'Support/User_Manual/Tasks/Parameter_Estimation';
  page_map['od.parameter.fitting'] = 'Support/User_Manual/Error_Messages/Parameter_Fitting';
  page_map['od.parameter.scan'] = 'Support/User_Manual/Tasks/Parameter_Scan';
  page_map['od.parameter.view'] = 'Support/User_Manual/Model_Creation/Parameter_View';
  page_map['od.particle.swarm'] = 'Support/User_Manual/Methods/Optimization_Methods/Particle_Swarm';
  page_map['od.plots'] = 'Support/User_Manual/Output/Manual_Definition/Plots';
  page_map['od.praxis'] = 'Support/User_Manual/Methods/Optimization_Methods/Praxis';
  page_map['od.predefined.reports'] = 'Support/User_Manual/Output/Predefined_Reports';
  page_map['od.random.search'] = 'Support/User_Manual/Methods/Optimization_Methods/Random_Search';
  page_map['od.range'] = 'Support/User_Manual/Error_Messages/Range';
  page_map['od.reaction'] = 'Support/User_Manual/Error_Messages/Reaction';
  page_map['od.reactions'] = 'Support/User_Manual/Model_Creation/Reactions';
  page_map['od.reports'] = 'Support/User_Manual/Output/Manual_Definition/Reports';
  page_map['od.result'] = 'Support/User_Manual/Tasks/Parameter_Estimation/Result';
  page_map['od.sbml'] = 'Support/User_Manual/Error_Messages/SBML';
  page_map['od.scaling'] = 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Scaling';
  page_map['od.sensitivities.calculation'] = 'Support/User_Manual/Methods/Sensitivities_Calculation';
  page_map['od.sensitivity.analysis'] = 'Support/User_Manual/Tasks/Sensitivity_Analysis';
  page_map['od.simple.tasks'] = 'Support/User_Manual/Tasks';
  page_map['od.simulated.annealing'] = 'Support/User_Manual/Methods/Optimization_Methods/Simulated_Annealing';
  page_map['od.sliders'] = 'Support/User_Manual/Model_Creation/Sliders';
  page_map['od.species'] = 'Support/User_Manual/Model_Creation/Species';
  page_map['od.steady-state.analysis'] = 'Support/User_Manual/Tasks/Steady-State_Analysis';
  page_map['od.steady.state.calculation'] = 'Support/User_Manual/Methods/Steady_State_Calculation';
  page_map['od.steepest.descent'] = 'Support/User_Manual/Methods/Optimization_Methods/Steepest_Descent';
  page_map['od.stochastic.simulation'] = 'Support/User_Manual/Methods/Time_Course_Calculation/Stochastic_Simulation';
  page_map['od.stoichiometric.state.analysis'] = 'Support/User_Manual/Tasks/Stoichiometric_State_Analysis';
  page_map['od.summation.theorem'] = 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Summation_Theorem';
  page_map['od.task.linearnoiseapproximation'] = 'Support/User_Manual/Tasks/Linear_Noise_Approximation';
  page_map['od.the.model.in.copasi'] = 'Support/User_Manual/The_Model_in_COPASI';
  page_map['od.time.course.calculation'] = 'Support/User_Manual/Methods/Time_Course_Calculation';
  page_map['od.time.course.simulation'] = 'Support/User_Manual/Tasks/Time_Course_Simulation';
  page_map['od.time.scale.separation'] = 'Support/User_Manual/Tasks/Time_Scale_Separation';
  page_map['od.time.scale.separation.analysis'] = 'Support/User_Manual/Methods/Time_Scale_Separation_Methods';
  page_map['od.time.scale.separation.method'] = 'Support/User_Manual/Error_Messages/Time_Scale_Separation_Method';
  page_map['od.time.scale.separation.problem'] = 'Support/User_Manual/Error_Messages/Time_Scale_Separation_Problem';
  page_map['od.trajectory.method'] = 'Support/User_Manual/Error_Messages/Trajectory_Method';
  page_map['od.trajectory.task'] = 'Support/User_Manual/Error_Messages/Trajectory_Task';
  page_map['od.truncated.newton'] = 'Support/User_Manual/Methods/Optimization_Methods/Truncated_Newton';
  page_map['od.tutorial.wizard'] = 'Support/User_Manual/Model_Creation/Tutorial_Wizard';
  page_map['od.user.defined.functions'] = 'Support/User_Manual/Model_Creation/User_Defined_Functions';
  page_map['od.working.with.plots'] = 'Support/User_Manual/Tasks/Time_Course_Simulation/Working_with_Plots';
  page_map['od.xml.reader'] = 'Support/User_Manual/Error_Messages/XML_Reader';
  page_map['optimisation benchmarks'] = 'Hidden/Intranet/Optimisation_Benchmarks';
  page_map['publications'] = 'Support/Publications';
  page_map['qt4conversion'] = 'Hidden/Intranet/GUI_Improvements/Qt_4_Conversion';
  page_map['sa-gui-filedialogs'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/GUI/File_Dialogs';
  page_map['saarrayannotation'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Array_annotation';
  page_map['saclassstructure'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure';
  page_map['sacopasiml'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/File_Format';
  page_map['sacopasiobject'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Object_and_Container';
  page_map['sacopasiparameter'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Parameter_and_Group';
  page_map['sacopasitask'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Task';
  page_map['sadatamodel'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Data_Model';
  page_map['sagui'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/GUI';
  page_map['samathdependencygraph'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Dependency_Graph';
  page_map['samathdiscontinuities'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Discontinuities';
  page_map['samathentity'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Mathematical_Enitites';
  page_map['samathevent'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Event';
  page_map['samathmodel'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model';
  page_map['samathmodelapi'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Functionality';
  page_map['samathobject'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Math_Object';
  page_map['samathreaction'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Reaction';
  page_map['samathstate'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Entity_Order';
  page_map['samiriam'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/MIRIAM_Annotation';
  page_map['samodelcalculation'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality/Calculation';
  page_map['samodelclasses'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Model_Classes';
  page_map['samodelcompile'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality/Compile';
  page_map['samodeldependencies'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality/Dependencies';
  page_map['samodelfunctionality'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality';
  page_map['saoutputdefinitions'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Classes_that_describe_the_output';
  page_map['saoutputsystem'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Output_System';
  page_map['saoutputsystemimplementation'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Output_System/Implementations';
  page_map['saoutputsystemoverview'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Output_System/Overview';
  page_map['saprocessreport'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Process_Report';
  page_map['sarandomgenerator'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Random_Number_Generator';
  page_map['sasbml'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/SBML';
  page_map['saselectionfilter'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Object_Selection_Filter';
  page_map['satoc'] = 'Hidden/Intranet/Development_Resources/Software_Architecture';
  page_map['saunitanalysis'] = 'Hidden/Intranet/Development_Resources/Software_Architecture/Unit_Analysis';
  page_map['sbml level 3 issues'] = 'Hidden/Intranet/SBML_Level_3_issues';
  page_map['sbml'] = 'Hidden/Intranet/Events/SBML';
  page_map['team'] = 'About/Team';
  page_map['teammeeting'] = 'Hidden/Intranet/TeamMeeting';
  page_map['teammeeting2011'] = 'Hidden/Intranet/TeamMeeting2011';
  page_map['test cases'] = 'Hidden/Intranet/Events/Test_cases';
  page_map['testsuiteintro'] = 'Hidden/Intranet/Test_Suite';
  page_map['user feedback (sep2013)'] = 'Events/Past_Events/COPASI_User_Workshop_Manchester_September_2013/User_Feedback_Sep2013';
  page_map['user_manual'] = 'Support/User_Manual';
  page_map['video production'] = 'Hidden/Intranet/Video_Production';
  page_map['videotutorials'] = 'Support/Video_Tutorials';
  page_map['win32buildinstructions'] = 'Build_Instructions/Windows';
  page_map['workshops_and_tutorials'] = 'Events';

  var found = false;

  var id_regex = /.*tiki-index\.php\?page_ref_id=([0-9]*)(&structure=([^&#]*))?(#([^&#]*))?/i;
  var match = id_regex.exec(window.location.href);

  if (match && id_map[match[1]] && page_map[id_map[match[1]]]) {
    found = page_map[id_map[match[1]]];
  } else {
    var page_regex = /.*tiki-index\.php\?page=([^&#]*)(&structure=([^&#]*))?(#([^&#]*))?/i;
    var match = page_regex.exec(window.location.href);
    
    if (match && page_map[match[1].toLowerCase()]) {
      found =  page_map[match[1].toLowerCase()];
    }
  }
  
  var e = document.getElementById('ErrorMessage');

  if (found) {
    e.innerHTML = '<h1>Page Moved</h1>'
    e.innerHTML += '<p>The page you are looking for has moved. Please update your link!</p>';
    e.innerHTML += '<p>&nbsp;&nbsp;' + window.location.href;
    e.innerHTML += '<p>to<p>';
    e.innerHTML += '<p>&nbsp;&nbsp;{{ site.baseurl }}/' + found + '<p>';

    $(document).ready(function () {
      // Handler for .ready() called.

      window.setTimeout(function () {
        location.href = "{{ site.baseurl }}/" + found;
        }, 5000);
    })  
  } else {
    e.innerHTML = '<h1>Error 404: Page not found</h1>'
    e.innerHTML += '<p>The page you are looking cannot be found:</p>';
    e.innerHTML += '<p>&nbsp;&nbsp;' + window.location.href + '<p>';
  }
</script>

{% include footer.html %}

