---
title: Error 404
section: Home
---

{% include header.html %}
{% include navbar.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="ErrorMessage">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">   
  var id_map = {
    1: 'homepage',
    3: 'screenshots',
    4: 'oldversions',
    5: 'build10changelog',
    6: 'team',
    8: 'build11changelog',
    9: 'documentation old',
    10: 'trademarks',
    11: 'build12changelog',
    12: 'build13changelog',
    13: 'build14changelog',
    14: 'build15changelog',
    15: 'sandbox',
    17: 'license',
    18: 'build17changelog',
    19: 'viewlicense',
    20: 'icsb-2006',
    21: 'build18changelog',
    24: 'linuxbuildinstructions',
    25: 'darwinbuildinstructions',
    27: 'win32buildinstructions',
    28: 'registration',
    29: 'confirmation',
    30: 'copasitutorialfiles',
    31: 'build19changelog',
    33: 'commercialdownload',
    34: 'commercial',
    35: 'commerciallicense',
    36: 'projects_old',
    37: 'build20changelog',
    39: 'documentation-technical',
    40: 'build21changelog',
    41: 'build22changelog',
    42: 'miriamannotationintroduction',
    43: 'codeprofilingintroduction',
    44: 'build23changelog',
    47: 'change_history',
    63: 'build9changelog',
    64: 'miriamannotationtoc',
    65: 'codeprofilingtoc',
    67: 'icsb2007',
    68: 'ccb2007',
    69: 'icsb2006introduction',
    70: 'miriamresources',
    71: 'icsb2006advanced',
    72: 'eventspast',
    73: 'tiki_configuration',
    74: 'tikiconfigurationaccesscontrol',
    75: 'intranet',
    76: 'developers',
    77: 'developersenvironment',
    78: 'developersenvironmentlinux',
    79: 'developersenvironmentmacosx',
    80: 'developersenvironmentsunos',
    81: 'developersenvironmentwin32',
    82: 'developersguidelines',
    83: 'codeprofilingtools',
    84: 'codeprofilingtasks',
    85: 'miriamrdf',
    86: 'workshops',
    87: '2008-11',
    88: 'testsuiteintro',
    89: 'build24changelog',
    90: 'eventsuserworkshop2008',
    91: 'miriamterms',
    92: 'build25changelog',
    94: 'language bindings',
    97: 'languagebindingsiijava',
    98: 'languagebindingsiipython',
    99: 'languagebindingsiisource',
    100: 'download',
    101: 'downloadnoncommercial',
    102: 'downloadcommercial',
    103: 'downloadnoncommercialbindings',
    104: 'downloadnoncommercialold',
    105: 'downloadcommercialbindings',
    106: 'downloadcommerciallogin',
    107: 'downloadcommercialold',
    108: 'documentation',
    109: 'installation',
    110: 'buildinstructions',
    111: 'installationlinux',
    112: 'installationdarwin',
    114: 'installationwin32',
    115: 'usermanual',
    116: 'documentationtechnical',
    118: 'documentationapi',
    119: 'documentationschema',
    120: 'build26changelog',
    121: 'copasi',
    122: 'testpage',
    123: 'copasiml',
    124: 'eventstoc',
    125: 'eventstrigger',
    126: 'eventsassignment',
    127: 'eventsdelay',
    128: 'eventssimultaneous',
    129: 'eventscascading',
    130: 'eventsimplementation',
    131: 'eventsprocessqueue',
    132: 'events/userworkshop2008/agenda',
    133: 'eventsoverview',
    134: 'workshops_and_tutorials',
    135: 'intranetfeature',
    136: 'build27changelog',
    137: 'documentationmiriam',
    138: 'icsb_2008',
    140: 'knownproblems',
    141: 'satoc',
    142: 'sadatamodel',
    143: 'saclassstructure',
    144: 'sacopasiobject',
    145: 'sacopasiparameter',
    146: 'sacopasitask',
    147: 'sagui',
    148: 'saoutputsystem',
    149: 'saoutputsystemoverview',
    150: 'saoutputsystemimplementation',
    151: 'saprocessreport',
    152: 'samodelclasses',
    153: 'samodeldependencies',
    154: 'samodelcompile',
    155: 'samodelcalculation',
    157: 'sacopasiml',
    158: 'sasbml',
    159: 'samiriam',
    161: 'sarandomgenerator',
    162: 'saunitanalysis',
    164: 'saarrayannotation',
    165: 'saoutputdefinitions',
    166: 'sbml',
    167: 'test_cases',
    168: 'guiforlargemodels',
    169: 'samodelfunctionality',
    170: 'build28changelog',
    171: 'build29changelog',
    172: 'eventsuserworkshop2009',
    173: 'qt4conversion',
    174: 'saselectionfilter',
    175: 'mutliple_models',
    176: 'eventsmodelchanges',
    179: 'od.model.creation',
    180: 'od.introduction',
    181: 'od.commandline.version.and.commandline.options',
    182: 'od.copasi.gui.elements',
    183: 'od.general.model.settings',
    184: 'od.compartments',
    185: 'od.species',
    186: 'od.reactions',
    187: 'od.global.quantities',
    188: 'od.annotating.models.and.model.elements',
    189: 'od.parameter.view',
    190: 'od.user.defined.functions',
    191: 'od.sliders',
    192: 'od.tutorial.wizard',
    193: 'od.output',
    194: 'od.predefined.reports',
    195: 'od.output.assistant',
    196: 'od.manual.definition',
    197: 'od.reports',
    198: 'od.plots',
    199: 'od.simple.tasks',
    200: 'od.steady-state.analysis',
    201: 'od.stoichiometric.state.analysis',
    202: 'od.elementary.flux.modes',
    203: 'od.mass.conservations',
    204: 'od.time.course.simulation',
    205: 'od.working.with.plots',
    206: 'od.metabolic.control.analysis.mca',
    207: 'od.lyapunov.exponents',
    208: 'od.parameter.scan',
    209: 'od.optimization',
    210: 'od.parameter.estimation',
    211: 'od.experimental.data',
    212: 'od.result',
    213: 'od.sensitivity.analysis',
    214: 'od.importing.and.exporting',
    215: 'od.importing.and.exporting.sbml.files',
    216: 'od.exporting.c.source.files',
    217: 'od.exporting.berkeley.madonna.files',
    218: 'od.exporting.xppaut.files',
    219: 'od.diagrams',
    220: 'od.the.model.in.copasi',
    221: 'od.fixed.quantities',
    222: 'od.quantities.with.assignment',
    223: 'od.quantities.with.differential.equation',
    224: 'od.functions',
    225: 'od.deterministic.interpretation.of.the.model',
    226: 'od.stochastic.interpretation.of.the.model',
    227: 'od.methods',
    228: 'od.time.course.calculation',
    229: 'od.deterministic.simulation',
    230: 'od.stochastic.simulation',
    231: 'od.hybrid.simulation',
    232: 'od.steady.state.calculation',
    233: 'od.metabolic.control.analysis',
    234: 'od.control.coefficients',
    235: 'od.summation.theorem',
    236: 'od.enzyme.kinetics.and.the.elasticity.coefficients',
    237: 'od.connectivity.relations',
    238: 'od.scaling',
    239: 'od.optimization.methods',
    240: 'od.evolutionary.programming',
    241: 'od.evolutionary.strategy.sres',
    242: 'od.genetic.algorithm',
    243: 'od.genetic.algorithm.sr',
    244: 'od.hooke.jeeves',
    245: 'od.levenberg.marquardt',
    246: 'od.nelder.mead',
    247: 'od.particle.swarm',
    248: 'od.praxis',
    249: 'od.random.search',
    250: 'od.simulated.annealing',
    251: 'od.steepest.descent',
    252: 'od.truncated.newton',
    253: 'od.lyapunov.exponents.calculation',
    254: 'od.sensitivities.calculation',
    256: 'od.error.messages',
    257: 'od.memory.allocation',
    258: 'od.gepasi.file.reader',
    259: 'od.kinetic.function',
    260: 'od.range',
    261: 'od.copasi.vector',
    262: 'od.function.parameter',
    263: 'od.mass.action',
    264: 'od.copasi.method',
    265: 'od.reaction',
    266: 'od.chemical.equation',
    267: 'od.method.parameter',
    268: 'od.trajectory.method',
    269: 'od.xml.reader',
    270: 'od.message.queue',
    271: 'od.configuration.file',
    272: 'od.optimization.task',
    273: 'od.sbml',
    274: 'od.trajectory.task',
    275: 'od.directory.entry',
    276: 'od.mathml',
    277: 'od.function',
    278: 'od.evaluation.node',
    279: 'od.copasi.task',
    280: 'od.parameter.fitting',
    281: 'od.copasi.object',
    282: 'od.lyapunov.exponent.calculation',
    283: 'od.ode.export',
    284: 'od.commercial.version',
    286: 'od.time.scale.separation.method',
    287: 'od.time.scale.separation.problem',
    288: 'od.eigen.value',
    289: 'od.bibliography',
    291: 'od.model.compartments',
    292: 'od.model.species',
    293: 'od.model.global.quantities',
    297: 'od.model.reactions',
    298: 'od.model.functions',
    299: 'od.model.deterministic.interpretation.of.the.model',
    300: 'od.model.stochastic.interpretation.of.the.model',
    302: 'user_manual',
    303: 'od.time.scale.separation',
    304: 'od.message.steady.state.calculation',
    305: 'od.time.scale.separation.analysis',
    306: 'od.ildm',
    307: 'od.modified.ildm',
    308: 'build30changelog',
    309: 'jointannouncement',
    310: 'eventstriggercompile',
    311: 'eventsuserworkshop2009agenda',
    312: 'sa-gui-filedialogs',
    313: 'intranet-testsuite-sbml',
    324: 'teammeeting',
    325: 'featurelist',
    326: 'funding',
    327: 'build31changelog',
    328: 'samathmodel',
    329: 'samathstate',
    330: 'samathmodelapi',
    331: 'samathentity',
    332: 'eventsuserworkshop2010',
    333: 'eventsuserworkshop2010-agenda',
    334: 'publications',
    335: 'sbml_level_3_issues',
    336: 'od.events',
    337: 'build32changelog',
    338: 'downloadnoncommercialdevelopment',
    339: 'artisticlicense',
    340: 'build33changelog',
    341: 'videotutorials',
    342: 'samathobject',
    343: 'samathdependencygraph',
    344: 'fastreactionstoc',
    345: 'fastreactionmath',
    346: 'fastreationode',
    347: 'eventsuserworkshop2011',
    348: 'samathdiscontinuities',
    349: 'build34changelog',
    350: 'eventsuserworkshop2011-agenda',
    351: 'teammeeting2011',
    352: 'optimisation_benchmarks',
    353: 'od.task.linearnoiseapproximation',
    354: 'downloadoldbindings',
    355: 'csp',
    356: 'build35changelog',
    357: 'eventsuserworkshop2012',
    358: 'eventsmanchesterworkshop2013a',
    359: 'eventsuserworkshop2013',
    360: 'build45changelog',
    361: 'samathevent',
    362: 'samathreaction',
    363: 'build55changelog',
    364: 'eventsuserworkshop2013-agenda',
    365: 'eventsuserworkshop2013-materials',
    366: 'video production',
    367: 'developersgit',
    369: 'projects',
    370: 'msmb',
    371: 'aggregationconnector',
    372: 'copasi_user_workshop_manchester_september_2013',
    373: 'user_feedback_(sep2013)',
    374: 'build64changelog',
    375: 'build65changelog',
    376: 'msmb.introduction',
    377: 'msmb.bibliography',
    378: 'msmb.firstmultistatemodel',
    379: 'msmb.detaileduserguide',
    380: 'msmb.download',
    381: 'msmb.specialfeatures',
    382: 'msmb.reservedkeywords',
    383: 'msmb.multistatesyntax',
    384: 'build??changelog',
    385: 'build81changelog',
    386: 'msmb-rm',
    388: 'msmb-rm.introduction',
    389: 'msmb-rm.download',
    390: 'msmb-rm.firstmodel',
    394: 'ac.download',
    396: 'ac.usermanual',
    397: 'build87changelog',
    399: 'userforum',
    400: 'build89changelog',
    401: 'build',
    402: 'msmb-rm.configurationwithconflicts',
    403: 'build95changelog',
    404: 'manchester2015'
  };

  var page_map = {
    'ac.download': 'Projects/JigCell_Model_Connector/Download',
    'ac.usermanual': 'Projects/JigCell_Model_Connector/User_Manual',
    'aggregationconnector': 'Projects/JigCell_Model_Connector',
    'build10changelog': 'Support/Change_History/COPASI_4_0_Build_10_test_version',
    'build11changelog': 'Support/Change_History/COPASI_4_0_Build_11_test_version',
    'build12changelog': 'Support/Change_History/COPASI_4_0_Build_12_test_version',
    'build13changelog': 'Support/Change_History/COPASI_4_0_Build_13_test_version',
    'build14changelog': 'Support/Change_History/COPASI_4_0_Build_14_test_version',
    'build15changelog': 'Support/Change_History/COPASI_4_0_Build_15_test_version',
    'build17changelog': 'Support/Change_History/COPASI_4_0_Build_17_RC_1',
    'build18changelog': 'Support/Change_History/COPASI_4_0_Build_18',
    'build19changelog': 'Support/Change_History/COPASI_4_0_19_development',
    'build20changelog': 'Support/Change_History/COPASI_4_0_20_development',
    'build21changelog': 'Support/Change_History/COPASI_4_1_Build_21',
    'build22changelog': 'Support/Change_History/COPASI_4_2_Build_22',
    'build23changelog': 'Support/Change_History/COPASI_4_2_23_development',
    'build24changelog': 'Support/Change_History/COPASI_4_2_24_development',
    'build25changelog': 'Support/Change_History/COPASI_4_3_Build_25',
    'build26changelog': 'Support/Change_History/COPASI_4_4_Build_26',
    'build27changelog': 'Support/Change_History/COPASI_4_4_27_development',
    'build28changelog': 'Support/Change_History/COPASI_4_4_28_development',
    'build29changelog': 'Support/Change_History/COPASI_4_4_29_development',
    'build30changelog': 'Support/Change_History/COPASI_4_5_Build_30',
    'build31changelog': 'Support/Change_History/COPASI_4_5_31_development',
    'build32changelog': 'Support/Change_History/COPASI_4_6_Build_32',
    'build33changelog': 'Support/Change_History/COPASI_4_6_33_development',
    'build34changelog': 'Support/Change_History/COPASI_4_7_Build_34',
    'build35changelog': 'Support/Change_History/COPASI_4_8_Build_35',
    'build45changelog': 'Support/Change_History/COPASI_4_9_45_development',
    'build55changelog': 'Support/Change_History/COPASI_4_10_Build_55',
    'build64changelog': 'Support/Change_History/COPASI_4_11_Build_64',
    'build65changelog': 'Support/Change_History/COPASI_4_11_Build_65',
    'build81changelog': 'Support/Change_History/COPASI_4_12_Build_81',
    'build87changelog': 'Support/Change_History/COPASI_4_13_Build_87',
    'build89changelog': 'Support/Change_History/COPASI_4_14_Build_89',
    'build95changelog': 'Support/Change_History/COPASI_4_15_Build_95',
    'build9changelog': 'Support/Change_History/COPASI_4_0_Build_9_test_version',
    'buildinstructions': 'Build_Instructions',
    'ccb2007': 'Events/Past_Events/Computational_Cell_Biology_2007',
    'change_history': 'Support/Change_History',
    'codeprofilingintroduction': 'Hidden/Intranet/Code_Profiling/Introduction',
    'codeprofilingtasks': 'Hidden/Intranet/Code_Profiling/Tasks',
    'codeprofilingtoc': 'Hidden/Intranet/Code_Profiling',
    'codeprofilingtools': 'Hidden/Intranet/Code_Profiling/Tools',
    'copasi user workshop manchester september 2013': 'Events/Past_Events/COPASI_User_Workshop_Manchester_September_2013',
    'copasi': 'COPASI',
    'copasiml': 'Hidden/Intranet/Miriam_Annotation/CopasiML',
    'csp': 'Support/User_Manual/Methods/Time_Scale_Separation_Methods/CSP',
    'darwinbuildinstructions': 'Build_Instructions/Mac_OS_X',
    'developers': 'Hidden/Intranet/Development_Resources',
    'developersenvironment': 'Hidden/Intranet/Development_Resources/Build_Environment',
    'developersenvironmentlinux': 'Hidden/Intranet/Development_Resources/Build_Environment/Linux',
    'developersenvironmentmacosx': 'Hidden/Intranet/Development_Resources/Build_Environment/MacOS_X',
    'developersenvironmentsunos': 'Hidden/Intranet/Development_Resources/Build_Environment/Solaris',
    'developersenvironmentwin32': 'Hidden/Intranet/Development_Resources/Build_Environment/Windows',
    'developersgit': 'Hidden/Intranet/Development_Resources/Build_Environment/Git',
    'developersguidelines': 'Hidden/Intranet/Development_Resources/Guide_Lines',
    'documentationapi': 'Support/Technical_Documentation/C___API_Documentation',
    'documentationmiriam': 'Support/Technical_Documentation/MIRIAM_Annotation',
    'documentationschema': 'Support/Technical_Documentation/File_Format',
    'documentationtechnical': 'Support/Technical_Documentation',
    'download': 'Download/Obsolete',
    'downloadcommercial': 'Download/Obsolete/Commercial_License_Only_Older_Versions',
    'downloadcommercialbindings': 'Download/Obsolete/Commercial_License_Only_Older_Versions/Language_Bindings',
    'downloadcommerciallogin': 'Download/Obsolete/Commercial_License_Only_Older_Versions/Customer_Login',
    'downloadcommercialold': 'Download/Obsolete/Commercial_License_Only_Older_Versions/Older_Versions',
    'downloadnoncommercial': 'Download/Obsolete/Free_Version_Artistic_License_2_0',
    'downloadnoncommercialbindings': 'Download/Obsolete/Free_Version_Artistic_License_2_0/Language_Bindings',
    'downloadnoncommercialold': 'Download/Obsolete/Free_Version_Artistic_License_2_0/Older_Versions',
    'downloadoldbindings': 'Download/Obsolete/Free_Version_Artistic_License_2_0/Language_Bindings/Older_Versions',
    'events/userworkshop2008/agenda': 'Events/Past_Events/COPASI_User_Workshop_2008/Agenda',
    'eventsassignment': 'Hidden/Intranet/Events/Assignment',
    'eventscascading': 'Hidden/Intranet/Events/Cascading_Events',
    'eventsdelay': 'Hidden/Intranet/Events/Delay',
    'eventsimplementation': 'Hidden/Intranet/Events/Implementation',
    'eventsmanchesterworkshop2013a': 'Events/Past_Events/COPASI_User_Workshop_Manchester_January_2013',
    'eventsmodelchanges': 'Hidden/Intranet/Events/Implementation/Model_Changes',
    'eventspast': 'Events/Past_Events',
    'eventsprocessqueue': 'Hidden/Intranet/Events/Implementation/Process_Queue',
    'eventssimultaneous': 'Hidden/Intranet/Events/Simultaneous_Events',
    'eventstoc': 'Hidden/Intranet/Events',
    'eventstrigger': 'Hidden/Intranet/Events/Trigger',
    'eventstriggercompile': 'Hidden/Intranet/Events/Trigger/Compiling_the_Trigger_Expression',
    'eventsuserworkshop2008': 'Events/Past_Events/COPASI_User_Workshop_2008',
    'eventsuserworkshop2009': 'Events/Past_Events/COPASI_User_Workshop_2009',
    'eventsuserworkshop2009agenda': 'Events/Past_Events/COPASI_User_Workshop_2009/Agenda',
    'eventsuserworkshop2010': 'Events/Past_Events/COPASI_User_Workshop_2010',
    'eventsuserworkshop2010-agenda': 'Events/Past_Events/COPASI_User_Workshop_2010/Agenda',
    'eventsuserworkshop2011': 'Events/Past_Events/COPASI_User_Workshop_2011',
    'eventsuserworkshop2011-agenda': 'Events/Past_Events/COPASI_User_Workshop_2011/Agenda',
    'eventsuserworkshop2013': 'Events/Past_Events/COPASI_User_Workshop_VBI_July_2013',
    'eventsuserworkshop2013-agenda': 'Events/Past_Events/COPASI_User_Workshop_VBI_July_2013/Agenda',
    'eventsuserworkshop2013-materials': 'Events/Past_Events/COPASI_User_Workshop_VBI_July_2013/Materials',
    'fastreactionmath': 'Hidden/Intranet/Fast_Reactions/Mathematical_Analysis',
    'fastreactionstoc': 'Hidden/Intranet/Fast_Reactions',
    'fastreationode': 'Hidden/Intranet/Fast_Reactions/ODE_Implementation',
    'funding': 'About/Funding',
    'guiforlargemodels': 'Hidden/Intranet/GUI_Improvements',
    'icsb 2008': 'Hidden/Intranet/ICSB_2008',
    'icsb2006advanced': 'Events/Past_Events/ICSB_2006_Advanced_Tutorial',
    'icsb2006introduction': 'Events/Past_Events/ICSB_2006_Introduction_Tutorial',
    'icsb2007': 'Events/Past_Events/ICSB_2007_Tutorial',
    'installation': 'Support/Installation',
    'installationdarwin': 'Support/Installation/Mac_OS_X',
    'installationlinux': 'Support/Installation/Linux',
    'installationwin32': 'Support/Installation/Windows',
    'intranet': 'Hidden/Intranet',
    'intranet-testsuite-sbml': 'Hidden/Intranet/Test_Suite/SBML',
    'intranetfeature': 'Hidden/Intranet/Feature_Requests_User_Workshop_2008',
    'jointannouncement': 'Hidden/Intranet/JointAnnouncement',
    'language_bindings': 'Support/Installation/Language_Bindings',
    'languagebindingsiijava': 'Support/Installation/Language_Bindings/Java_Bindings_Installation',
    'languagebindingsiipython': 'Support/Installation/Language_Bindings/Python_Bindings_Installation',
    'languagebindingsiisource': 'Support/Installation/Language_Bindings/Compiling_from_Source',
    'linuxbuildinstructions': 'Build_Instructions/Linux',
    'miriamannotationintroduction': 'Hidden/Intranet/Miriam_Annotation/Introduction',
    'miriamannotationtoc': 'Hidden/Intranet/Miriam_Annotation',
    'miriamrdf': 'Hidden/Intranet/Miriam_Annotation/RDF',
    'miriamresources': 'Hidden/Intranet/Miriam_Annotation/Resources',
    'miriamterms': 'Hidden/Intranet/Miriam_Annotation/Terms',
    'msmb': 'Projects/Multistate_Model_Builder',
    'msmb-rm': 'Projects/JigCell_Run_Manager_2_0',
    'msmb-rm.configurationwithconflicts': 'Projects/JigCell_Run_Manager_2_0/Configuration_with_Conflicts',
    'msmb-rm.download': 'Projects/JigCell_Run_Manager_2_0/Download',
    'msmb-rm.firstmodel': 'Projects/JigCell_Run_Manager_2_0/First_RM_project',
    'msmb-rm.introduction': 'Projects/JigCell_Run_Manager_2_0/Introduction',
    'msmb.bibliography': 'Projects/Multistate_Model_Builder/Bibliography',
    'msmb.detaileduserguide': 'Projects/Multistate_Model_Builder/User_Guide',
    'msmb.download': 'Projects/Multistate_Model_Builder/Download',
    'msmb.firstmultistatemodel': 'Projects/Multistate_Model_Builder/First_multistate_model',
    'msmb.introduction': 'Projects/Multistate_Model_Builder/Introduction',
    'msmb.multistatesyntax': 'Projects/Multistate_Model_Builder/Multistate_Species_and_Reactions_syntax',
    'msmb.reservedkeywords': 'Projects/Multistate_Model_Builder/Reserved_Keywords',
    'msmb.specialfeatures': 'Projects/Multistate_Model_Builder/Special_Features',
    'mutliple models': 'Hidden/Intranet/Mutliple_Models',
    'od.annotating.models.and.model.elements': 'Support/User_Manual/Model_Creation/Annotating_Models_and_Model_Elements',
    'od.bibliography': 'Support/User_Manual/Bibliography',
    'od.chemical.equation': 'Support/User_Manual/Error_Messages/Chemical_Equation',
    'od.commandline.version.and.commandline.options': 'Support/User_Manual/Model_Creation/Commandline_Version_and_Commandline_Options',
    'od.commercial.version': 'Support/User_Manual/Error_Messages/Commercial_Version',
    'od.compartments': 'Support/User_Manual/Model_Creation/Compartments',
    'od.configuration.file': 'Support/User_Manual/Error_Messages/Configuration_File',
    'od.connectivity.relations': 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Connectivity_Relations',
    'od.control.coefficients': 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Control_Coefficients',
    'od.copasi.gui.elements': 'Support/User_Manual/Model_Creation/COPASI_GUI_Elements',
    'od.copasi.method': 'Support/User_Manual/Error_Messages/COPASI_Method',
    'od.copasi.object': 'Support/User_Manual/Error_Messages/COPASI_Object',
    'od.copasi.task': 'Support/User_Manual/Error_Messages/COPASI_Task',
    'od.copasi.vector': 'Support/User_Manual/Error_Messages/COPASI_Vector',
    'od.deterministic.simulation': 'Support/User_Manual/Methods/Time_Course_Calculation/Deterministic_Simulation',
    'od.diagrams': 'Support/User_Manual/Diagrams',
    'od.directory.entry': 'Support/User_Manual/Error_Messages/Directory_Entry',
    'od.eigen.value': 'Support/User_Manual/Error_Messages/Eigen_Value',
    'od.elementary.flux.modes': 'Support/User_Manual/Tasks/Stoichiometric_State_Analysis/Elementary_Flux_Modes',
    'od.enzyme.kinetics.and.the.elasticity.coefficients': 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Enzyme_Kinetics_and_the_Elasticity_Coefficients',
    'od.error.messages': 'Support/User_Manual/Error_Messages',
    'od.evaluation.node': 'Support/User_Manual/Error_Messages/Evaluation_Node',
    'od.events': 'Support/User_Manual/Model_Creation/Events',
    'od.evolutionary.programming': 'Support/User_Manual/Methods/Optimization_Methods/Evolutionary_Programming',
    'od.evolutionary.strategy.sres': 'Support/User_Manual/Methods/Optimization_Methods/Evolutionary_Strategy_SRES',
    'od.experimental.data': 'Support/User_Manual/Tasks/Parameter_Estimation/Experimental_Data',
    'od.exporting.berkeley.madonna.files': 'Support/User_Manual/Importing_and_Exporting/Exporting_Berkeley_Madonna_Files',
    'od.exporting.c.source.files': 'Support/User_Manual/Importing_and_Exporting/Exporting_C_Source_Files',
    'od.exporting.xppaut.files': 'Support/User_Manual/Importing_and_Exporting/Exporting_XPPAUT_Files',
    'od.function': 'Support/User_Manual/Error_Messages/Function',
    'od.function.parameter': 'Support/User_Manual/Error_Messages/Function_Parameter',
    'od.general.model.settings': 'Support/User_Manual/Model_Creation/General_Model_Settings',
    'od.genetic.algorithm': 'Support/User_Manual/Methods/Optimization_Methods/Genetic_Algorithm',
    'od.genetic.algorithm.sr': 'Support/User_Manual/Methods/Optimization_Methods/Genetic_Algorithm_SR',
    'od.gepasi.file.reader': 'Support/User_Manual/Error_Messages/Gepasi_File_Reader',
    'od.global.quantities': 'Support/User_Manual/Model_Creation/Global_Quantities',
    'od.hooke.jeeves': 'Support/User_Manual/Methods/Optimization_Methods/Hooke___Jeeves',
    'od.hybrid.simulation': 'Support/User_Manual/Methods/Time_Course_Calculation/Hybrid_Simulation',
    'od.ildm': 'Support/User_Manual/Methods/Time_Scale_Separation_Methods/ILDM_Deuflhard',
    'od.importing.and.exporting': 'Support/User_Manual/Importing_and_Exporting',
    'od.importing.and.exporting.sbml.files': 'Support/User_Manual/Importing_and_Exporting/Importing_and_Exporting_SBML_Files',
    'od.introduction': 'Support/User_Manual/Model_Creation/Introduction',
    'od.kinetic.function': 'Support/User_Manual/Error_Messages/Kinetic_Function',
    'od.levenberg.marquardt': 'Support/User_Manual/Methods/Optimization_Methods/Levenberg_-_Marquardt',
    'od.lyapunov.exponent.calculation': 'Support/User_Manual/Error_Messages/Lyapunov_Exponent_Calculation',
    'od.lyapunov.exponents': 'Support/User_Manual/Tasks/Lyapunov_Exponents',
    'od.lyapunov.exponents.calculation': 'Support/User_Manual/Methods/Lyapunov_Exponents_Calculation',
    'od.manual.definition': 'Support/User_Manual/Output/Manual_Definition',
    'od.mass.action': 'Support/User_Manual/Error_Messages/Mass_Action',
    'od.mass.conservations': 'Support/User_Manual/Tasks/Stoichiometric_State_Analysis/Mass_Conservations',
    'od.mathml': 'Support/User_Manual/Error_Messages/MathML',
    'od.memory.allocation': 'Support/User_Manual/Error_Messages/Memory_Allocation',
    'od.message.queue': 'Support/User_Manual/Error_Messages/Message_Queue',
    'od.message.steady.state.calculation': 'Support/User_Manual/Error_Messages/Steady_State_Calculation',
    'od.metabolic.control.analysis': 'Support/User_Manual/Methods/Metabolic_Control_Analysis',
    'od.metabolic.control.analysis.mca': 'Support/User_Manual/Tasks/Metabolic_Control_Analysis_MCA',
    'od.method.parameter': 'Support/User_Manual/Error_Messages/Method_Parameter',
    'od.methods': 'Support/User_Manual/Methods',
    'od.model.compartments': 'Support/User_Manual/The_Model_in_COPASI/Compartments',
    'od.model.creation': 'Support/User_Manual/Model_Creation',
    'od.model.deterministic.interpretation.of.the.model': 'Support/User_Manual/The_Model_in_COPASI/Deterministic_Interpretation_of_the_Model',
    'od.model.functions': 'Support/User_Manual/The_Model_in_COPASI/Functions',
    'od.model.global.quantities': 'Support/User_Manual/The_Model_in_COPASI/Global_Quantities',
    'od.model.reactions': 'Support/User_Manual/The_Model_in_COPASI/Reactions',
    'od.model.species': 'Support/User_Manual/The_Model_in_COPASI/Species',
    'od.model.stochastic.interpretation.of.the.model': 'Support/User_Manual/The_Model_in_COPASI/Stochastic_Interpretation_of_the_Model',
    'od.modified.ildm': 'Support/User_Manual/Methods/Time_Scale_Separation_Methods/Modified_ILDM',
    'od.nelder.mead': 'Support/User_Manual/Methods/Optimization_Methods/Nelder_-_Mead',
    'od.ode.export': 'Support/User_Manual/Error_Messages/ODE_Export',
    'od.optimization': 'Support/User_Manual/Tasks/Optimization',
    'od.optimization.methods': 'Support/User_Manual/Methods/Optimization_Methods',
    'od.optimization.task': 'Support/User_Manual/Error_Messages/Optimization_Task',
    'od.output': 'Support/User_Manual/Output',
    'od.output.assistant': 'Support/User_Manual/Output/Output_Assistant',
    'od.parameter.estimation': 'Support/User_Manual/Tasks/Parameter_Estimation',
    'od.parameter.fitting': 'Support/User_Manual/Error_Messages/Parameter_Fitting',
    'od.parameter.scan': 'Support/User_Manual/Tasks/Parameter_Scan',
    'od.parameter.view': 'Support/User_Manual/Model_Creation/Parameter_View',
    'od.particle.swarm': 'Support/User_Manual/Methods/Optimization_Methods/Particle_Swarm',
    'od.plots': 'Support/User_Manual/Output/Manual_Definition/Plots',
    'od.praxis': 'Support/User_Manual/Methods/Optimization_Methods/Praxis',
    'od.predefined.reports': 'Support/User_Manual/Output/Predefined_Reports',
    'od.random.search': 'Support/User_Manual/Methods/Optimization_Methods/Random_Search',
    'od.range': 'Support/User_Manual/Error_Messages/Range',
    'od.reaction': 'Support/User_Manual/Error_Messages/Reaction',
    'od.reactions': 'Support/User_Manual/Model_Creation/Reactions',
    'od.reports': 'Support/User_Manual/Output/Manual_Definition/Reports',
    'od.result': 'Support/User_Manual/Tasks/Parameter_Estimation/Result',
    'od.sbml': 'Support/User_Manual/Error_Messages/SBML',
    'od.scaling': 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Scaling',
    'od.sensitivities.calculation': 'Support/User_Manual/Methods/Sensitivities_Calculation',
    'od.sensitivity.analysis': 'Support/User_Manual/Tasks/Sensitivity_Analysis',
    'od.simple.tasks': 'Support/User_Manual/Tasks',
    'od.simulated.annealing': 'Support/User_Manual/Methods/Optimization_Methods/Simulated_Annealing',
    'od.sliders': 'Support/User_Manual/Model_Creation/Sliders',
    'od.species': 'Support/User_Manual/Model_Creation/Species',
    'od.steady-state.analysis': 'Support/User_Manual/Tasks/Steady-State_Analysis',
    'od.steady.state.calculation': 'Support/User_Manual/Methods/Steady_State_Calculation',
    'od.steepest.descent': 'Support/User_Manual/Methods/Optimization_Methods/Steepest_Descent',
    'od.stochastic.simulation': 'Support/User_Manual/Methods/Time_Course_Calculation/Stochastic_Simulation',
    'od.stoichiometric.state.analysis': 'Support/User_Manual/Tasks/Stoichiometric_State_Analysis',
    'od.summation.theorem': 'Support/User_Manual/Methods/Metabolic_Control_Analysis/Summation_Theorem',
    'od.task.linearnoiseapproximation': 'Support/User_Manual/Tasks/Linear_Noise_Approximation',
    'od.the.model.in.copasi': 'Support/User_Manual/The_Model_in_COPASI',
    'od.time.course.calculation': 'Support/User_Manual/Methods/Time_Course_Calculation',
    'od.time.course.simulation': 'Support/User_Manual/Tasks/Time_Course_Simulation',
    'od.time.scale.separation': 'Support/User_Manual/Tasks/Time_Scale_Separation',
    'od.time.scale.separation.analysis': 'Support/User_Manual/Methods/Time_Scale_Separation_Methods',
    'od.time.scale.separation.method': 'Support/User_Manual/Error_Messages/Time_Scale_Separation_Method',
    'od.time.scale.separation.problem': 'Support/User_Manual/Error_Messages/Time_Scale_Separation_Problem',
    'od.trajectory.method': 'Support/User_Manual/Error_Messages/Trajectory_Method',
    'od.trajectory.task': 'Support/User_Manual/Error_Messages/Trajectory_Task',
    'od.truncated.newton': 'Support/User_Manual/Methods/Optimization_Methods/Truncated_Newton',
    'od.tutorial.wizard': 'Support/User_Manual/Model_Creation/Tutorial_Wizard',
    'od.user.defined.functions': 'Support/User_Manual/Model_Creation/User_Defined_Functions',
    'od.working.with.plots': 'Support/User_Manual/Tasks/Time_Course_Simulation/Working_with_Plots',
    'od.xml.reader': 'Support/User_Manual/Error_Messages/XML_Reader',
    'optimisation benchmarks': 'Hidden/Intranet/Optimisation_Benchmarks',
    'publications': 'Support/Publications',
    'qt4conversion': 'Hidden/Intranet/GUI_Improvements/Qt_4_Conversion',
    'sa-gui-filedialogs': 'Hidden/Intranet/Development_Resources/Software_Architecture/GUI/File_Dialogs',
    'saarrayannotation': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Array_annotation',
    'saclassstructure': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure',
    'sacopasiml': 'Hidden/Intranet/Development_Resources/Software_Architecture/File_Format',
    'sacopasiobject': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Object_and_Container',
    'sacopasiparameter': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Parameter_and_Group',
    'sacopasitask': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Task',
    'sadatamodel': 'Hidden/Intranet/Development_Resources/Software_Architecture/Data_Model',
    'sagui': 'Hidden/Intranet/Development_Resources/Software_Architecture/GUI',
    'samathdependencygraph': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Dependency_Graph',
    'samathdiscontinuities': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Discontinuities',
    'samathentity': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Mathematical_Enitites',
    'samathevent': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Event',
    'samathmodel': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model',
    'samathmodelapi': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Functionality',
    'samathobject': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Math_Object',
    'samathreaction': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Reaction',
    'samathstate': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Mathematical_Model/Entity_Order',
    'samiriam': 'Hidden/Intranet/Development_Resources/Software_Architecture/MIRIAM_Annotation',
    'samodelcalculation': 'Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality/Calculation',
    'samodelclasses': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Model_Classes',
    'samodelcompile': 'Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality/Compile',
    'samodeldependencies': 'Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality/Dependencies',
    'samodelfunctionality': 'Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality',
    'saoutputdefinitions': 'Hidden/Intranet/Development_Resources/Software_Architecture/Class_Structure/Classes_that_describe_the_output',
    'saoutputsystem': 'Hidden/Intranet/Development_Resources/Software_Architecture/Output_System',
    'saoutputsystemimplementation': 'Hidden/Intranet/Development_Resources/Software_Architecture/Output_System/Implementations',
    'saoutputsystemoverview': 'Hidden/Intranet/Development_Resources/Software_Architecture/Output_System/Overview',
    'saprocessreport': 'Hidden/Intranet/Development_Resources/Software_Architecture/Process_Report',
    'sarandomgenerator': 'Hidden/Intranet/Development_Resources/Software_Architecture/Random_Number_Generator',
    'sasbml': 'Hidden/Intranet/Development_Resources/Software_Architecture/SBML',
    'saselectionfilter': 'Hidden/Intranet/Development_Resources/Software_Architecture/Object_Selection_Filter',
    'satoc': 'Hidden/Intranet/Development_Resources/Software_Architecture',
    'saunitanalysis': 'Hidden/Intranet/Development_Resources/Software_Architecture/Unit_Analysis',
    'sbml level 3 issues': 'Hidden/Intranet/SBML_Level_3_issues',
    'sbml': 'Hidden/Intranet/Events/SBML',
    'team': 'About/Team',
    'teammeeting': 'Hidden/Intranet/TeamMeeting',
    'teammeeting2011': 'Hidden/Intranet/TeamMeeting2011',
    'test cases': 'Hidden/Intranet/Events/Test_cases',
    'testsuiteintro': 'Hidden/Intranet/Test_Suite',
    'user feedback (sep2013)': 'Events/Past_Events/COPASI_User_Workshop_Manchester_September_2013/User_Feedback_Sep2013',
    'user_manual': 'Support/User_Manual',
    'video production': 'Hidden/Intranet/Video_Production',
    'videotutorials': 'Support/Video_Tutorials',
    'win32buildinstructions': 'Build_Instructions/Windows',
    'workshops_and_tutorials': 'Events'
  };

  var found = false;

  var id_regex = /.*tiki-index\.php\?page_ref_id=([0-9]*)(&structure=([^&#]*))?(#([^&#]*))?/i;
  var match = id_regex.exec(window.location.href);

  if (match && id_map[match[1]] && page_map[id_map[match[1]]]) {
    found = page_map[id_map[match[1]]];
  } else {
    var page_regex = /.*tiki-index\.php\?page=([^&#]*)(&structure=([^&#]*))?(#([^&#]*))?/i;
    var match = page_regex.exec(window.location.href);
    
    if (match && page_map[match[1].toLowerCase()]) {
      found = page_map[match[1].toLowerCase()];
    }
  }
  
  var e = document.getElementById('ErrorMessage');

  if (found) {
    e.innerHTML = '<h1>Page Moved (You will be redirected shortly)</h1>'
    e.innerHTML += '<p>The page you are looking for has moved. Please update your link!</p>';
    e.innerHTML += '<p>&nbsp;&nbsp;' + window.location.href + '</p>';
    e.innerHTML += '<p>to</p>';
    e.innerHTML += '<p>&nbsp;&nbsp;{{ site.baseurl }}/' + found + '</p>';

    $(document).ready(function () {
      // Handler for .ready() called.

      window.setTimeout(function () {
        location.href = "{{ site.baseurl }}/" + found;
        }, 5000);
    })  
  } else {
    e.innerHTML = '<h1>Error 404: Page not found</h1>'
    e.innerHTML += '<p>The page you are looking cannot be found:</p>';
    e.innerHTML += '<p>&nbsp;&nbsp;' + window.location.href + '</p>';
  }
</script>

{% include footer.html %}

