---
title: Home
section: Home
---

<!-- HEADER -->
{% include header.html %}
{% include navbar.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row" style="font-size: 150%">
          <h1>COPASI: Biochemical System Simulator</h1>
          <p class="lead">
            COPASI is a software application for simulation and analysis of biochemical networks and their dynamics.
          </p>
          <p class="lead">
            COPASI is a stand-alone program that supports models in the SBML standard and can simulate their behavior using ODEs or Gillespie's stochastic simulation algorithm; arbitrary discrete events can be included in such simulations.
          </p>
        </div>
      </div>
    </div>
    <div class="row hidden-lg hidden-md hidden-sm text-center">
      <div class="col-sm-4">
        <a href="{{ site.baseurl }}/Download">
          <img src="{{ site.baseurl }}/images/download.png" class="img-responsive" style="height: 200px; width: 200px; display: inline; padding: 5px;">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ site.baseurl }}/Support">
          <img src="{{ site.baseurl }}/images/support.png" class="img-responsive" style="height: 200px; width: 200px; display: inline; padding: 5px;">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ site.baseurl }}/Features">
          <img src="{{ site.baseurl }}/images/features.png" class="img-responsive" style="height: 200px; width: 200px; display: inline; padding: 5px;">
        </a>
      </div>
    </div>
    <div class="row hidden-lg hidden-md hidden-xs">
      <div class="col-sm-4">
        <a href="{{ site.baseurl }}/Download">
          <img src="{{ site.baseurl }}/images/download.png" class="img-responsive" style="height: 200px; width: 200px; display: inline; padding: 5px;">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ site.baseurl }}/Support">
          <img src="{{ site.baseurl }}/images/support.png" class="img-responsive" style="height: 200px; width: 200px; display: inline; padding: 5px;">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ site.baseurl }}/Features">
          <img src="{{ site.baseurl }}/images/features.png" class="img-responsive" style="height: 200px; width: 200px; display: inline; padding: 5px;">
        </a>
      </div>
    </div>
    <div class="row hidden-xs hidden-sm">
      <div class="col-md-4">
        <a href="{{ site.baseurl }}/Download">
          <img src="{{ site.baseurl }}/images/download.png" class="img-responsive" style="display: inline; padding: 5px;">
        </a>
      </div>
      <div class="col-md-4">
        <a href="{{ site.baseurl }}/Support">
          <img src="{{ site.baseurl }}/images/support.png" class="img-responsive" style="display: inline; padding: 5px;">
        </a>
      </div>
      <div class="col-md-4">
        <a href="{{ site.baseurl }}/Features">
          <img src="{{ site.baseurl }}/images/features.png" class="img-responsive" style="display: inline; padding: 5px;">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
