---
title: "Dependencies"
previous: "Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality/Compile"
next: "Hidden/Intranet/Development_Resources/Software_Architecture/Model_Functionality/Calculation"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
