---
title: "Array annotation"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="Array_annotation">Array annotation</h3>
<br />
The<code>CArrayAnnotation</code> class is used to make arrays (vectors, matrices, or higher dimensional arrays) accessible in the COPASI object tree. It also provides functionality to annotate the elements of the array with strings or references to other objects.<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
