---
title: "Compiling from Source"
structure: "Installation"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="Compiling_From_Source">Compiling From Source</h3>
In order to compile the bindings from source, you have to download the COPASI sources for Build-30 from the <a  href="http://www.copasi.org" rel="">COPASI server</a> as well as the patch for the bindings on the same server. To apply the patch, you unpack the sources and change into the top level directory of the sources. Under any UNIX system you use the program patch to apply the patch. The command line for that could look like this:<br />
<pre class="codelisting" dir="ltr" style="overflow:auto;">bunzip2 -c PATCHFILE | patch -p1</pre><br />
Once the patch has been applied, you have to tell the build system where to find the needed libraries and include files. In order to compile the sources you will need an implementation of <a target="_blank" href="http://www.netlib.org/lapack/" rel="external">LAPACK</a> or <a target="_blank" href="http://www.netlib.org/clapack/" rel="external">CLAPACK</a>, <a target="_blank" href="http://www.sbml.org/Software/libSBML" rel="external">libSBML</a> 3.2.0, <a target="_blank" href="http://expat.sourceforge.net" rel="external">expat</a> (2.0.1), <a target="_blank" href="http://librdf.org/raptor/" rel="external">raptor</a>(1.4.18), <a target="_blank" href="http://www.swig.org" rel="external">swig</a> 1.3.31 (other version will most likely not work), a <a target="_blank" href="http://java.sun.com" rel="external">Java</a> SDK and/or a <a target="_blank" href="http://www.python.or" rel="external">python</a> installation with header files.<br />
<br />
Since the build system relies on qmake, a version of <a target="_blank" href="http://qt.nokia.com/downloads/downloads" rel="external">Qt 4</a> (or at least qmake) is needed as well. The build system probably also requires you to have <a target="_blank" href="http://qwt.sourceforge.net/" rel="external">qwt</a> (5.0.2) installed.<br />
<br />
On MacOS X, an implementation of LAPACK is already included in the form of the Accelerate framework, on windows and Linux the <a target="_blank" href="http://www.intel.com/cd/software/products/asmo-na/eng/307757.htm" rel="external">Intel Math Kernel Libraries</a> can be used as well as one of the implementations mentioned above.<br />
<br />
Configuration under windows is slightly different from the UNIX systems. Under windows configure.bat is the script that is used to configure the sources. With configure.bat most options are passed as variables rather then command line arguments. A call to configure.bat might for example look like this:<br />
<pre class="codelisting" dir="ltr" style="overflow:auto;">configure.bat --enable-release \
              &quot;SWIG_PATH=C:\Devel\swigwin1.3.31&quot; \
              &quot;BUILD_GUI=no&quot; \
              &quot;CLAPACK_PATH=C:\Devel\clapack&quot; \
              &quot;EXPAT_PATH=C:\Devel\expat-2.0.1&quot; \
              &quot;RAPTOR_PATH=C:\Devel\raptor-1.4.18&quot; \
              &quot;SBML_PATH=c:\Devel\libsbml-3.1.1-src&quot; \
              &quot;QWT_PATH=c:\Devel\qwt-5.0.2&quot; \
              &quot;ENABLE_PYTHON=yes&quot; \
              &quot;PYTHON_LIB_PATH=C:\Python25\libs&quot; \
              &quot;PYTHON_INCLUDE_PATH=C:\Python25\include&quot; \
              &quot;ENABLE_JAVA=yes&quot; \
              &quot;JAVA_PATH=C:\Java\jdk1.5.0_15&quot; \
              &quot;JAVA_HOME=C:\Java\jdk1.5.0_15&quot;</pre><br />
This would configure the build of a release version of the python and the java bindings (as well as CopasiSE) with expat and libsbml dynamically linked.<br />
<br />
On some systems tweaking of <i>copasi/common.pri</i> in the source directory might be necessary to get COPASI to compile.<br />
<br />
One last word of caution. The bindings are automatically created using the SWIG package. Although the bindings an be created using the latest SWIG 2, the code generated by SWIG 2 seemed to contain some bugs and not all features worked. So in my opinion, SWIG 1.3.40 currently provides the better results.<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
