---
title: "Materials"
structure: "Events"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h2 name="Papers">Papers</h2>
<a target="_blank" href="http://link.springer.com/content/pdf/10.1007%2F978-1-59745-525-1_2.pdf" rel="external">Computational Modeling of Biochemical Networks Using COPASI</a><br />
<a title="publications" href="publications.html">More publications</a><br />
<h2 name="Models">Models</h2>
<a target="_blank" href="http://www.comp-sys-bio.org/CopasiModels.html" rel="external">Models at comp-sys-bio.org</a><br />
<a target="_blank" href="http://www.ebi.ac.uk/biomodels-main/publmodels" rel="external">Biomodels</a><br />
<h2 name="Crosssection">Crosssection</h2>
<a  href="chaos2.cps" rel="">chaos2.cps</a><br />
<a  href="chaos3.cps" rel="">chaos3.cps</a><br />
<h2 name="COPASI_4_11_Build_58_">COPASI 4.11 (Build 58)</h2>
<table class="normal"><tbody><tr><td class="heading">Version</td><td class="heading">Name</td><td class="heading">Time Stamp</td><td class="heading">Size</td></tr>
<tr><td class="odd">58</td><td class="odd"><a href="integrator/snapshots/Artistic-License/Copasi-58-Darwin.dmg">Copasi-58-Darwin.dmg</a></td><td class="odd">2013-07-05 11:39</td><td class="odd">63M</td></tr>
<tr><td class="even"></td><td class="even"><a href="integrator/snapshots/Artistic-License/Copasi-58-Darwin64.dmg">Copasi-58-Darwin64.dmg</a></td><td class="even">2013-07-05 11:39</td><td class="even">50M</td></tr>
<tr><td class="odd"></td><td class="odd"><a href="integrator/snapshots/Artistic-License/Copasi-58-Linux-Dynamic.tar.gz">Copasi-58-Linux-Dynamic.tar.gz</a></td><td class="odd">2013-07-05 11:39</td><td class="odd">16M</td></tr>
<tr><td class="even"></td><td class="even"><a href="integrator/snapshots/Artistic-License/Copasi-58-Linux.tar.gz">Copasi-58-Linux.tar.gz</a></td><td class="even">2013-07-05 11:39</td><td class="even">29M</td></tr>
<tr><td class="odd"></td><td class="odd"><a href="integrator/snapshots/Artistic-License/Copasi-58-Linux64-Dynamic.tar.gz">Copasi-58-Linux64-Dynamic.tar.gz</a></td><td class="odd">2013-07-05 11:39</td><td class="odd">16M</td></tr>
<tr><td class="even"></td><td class="even"><a href="integrator/snapshots/Artistic-License/Copasi-58-Linux64.tar.gz">Copasi-58-Linux64.tar.gz</a></td><td class="even">2013-07-05 11:39</td><td class="even">28M</td></tr>
<tr><td class="odd"></td><td class="odd"><a href="integrator/snapshots/Artistic-License/Copasi-58-SRC.tar.gz">Copasi-58-SRC.tar.gz</a></td><td class="odd">2013-07-05 11:39</td><td class="odd">3.8M</td></tr>
<tr><td class="even"></td><td class="even"><a href="integrator/snapshots/Artistic-License/Copasi-58-WIN32.exe">Copasi-58-WIN32.exe</a></td><td class="even">2013-07-05 11:39</td><td class="even">22M</td></tr>
<tr><td class="odd"></td><td class="odd"><a href="integrator/snapshots/Artistic-License/Copasi-58-WIN64.exe">Copasi-58-WIN64.exe</a></td><td class="odd">2013-07-05 11:39</td><td class="odd">25M</td></tr></tbody></table><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
