---
title: "Fast Reactions"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

This is analysis whether it is possible to add fast reactions to COPASI. Fast reactions are reactions, which viewed together do not contribute to the change of the system or in other words they are in a quasi steady-state.<br />
<br />
<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
