---
title: "User feedback"
structure: "Events"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="September_2013_workshop_Manchester_">September 2013 workshop (Manchester)</h3>
<br />
<ul><li>When steady states fail to be calculated no numbers should be displayed
</li><li>In plots, allow titles for X and Y axis (at least for X)
</li></ul>

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
