---
title: "COPASI User Workshop VBI July 2013"
structure: "Events"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<div class="simplebox"><h3>Outline:</h3>The user workshop will provide hands on experience with COPASI's main capabilities. During the 3 day course the participant will learn how to create models within COPASI and how to use COPASI's powerful simulation and analysis features. Please have a look at the <a title="COPASI: Events/Past Events/COPASI User Workshop VBI July 2013/Agenda" href="{{ site.baseurl }}/Events/Past_Events/COPASI_User_Workshop_VBI_July_2013/Agenda" >agenda</a> for scheduling details.<br />
<h4 name="Date_">Date:</h4>
July 08 - July 10 2013<br />
<h4 name="Location_">Location:</h4>
Virginia Bioinformatics Institute<br />
Virginia Tech<br />
Blacksburg, Va 24061, USA<br />
<br />
The introduction of COPASI's features will be done with known existing models such as the Circadian Clock or Calcium Oscillation. We will use real experimental data from our lab to analyze and fit enzyme kinetic models. Some of the features highlighted during this use case based approach will be:<br />
<ul><li> Stochastic Simulation
</li><li> Sensitivities
</li><li> Scans
</li><li> Optimization
</li><li> Reports
</li><li> Plotting
</li><li> Histograms
</li><li> Batch Processing
</li></ul>
<h4 name="Audience_">Audience:</h4>
The primary target for this workshop are graduate students and scientist in the life science area who are interested in using COPASI as a modeling tool. Prior knowledge of COPASI is not required.<br />
<h4 name="Registration_">Registration:</h4>
The registration fee is $100. To register please proceed to the <a target="_blank" href="http://www.cpe.vt.edu/reg/copasi/" rel="external">online registration</a>.<br />
<h4 name="Support_">Support:</h4>
Partial reimbursement of travel cost will be available for graduate students. Since we have only a fixed amount the individual reimbursement will be decided after the actual travel costs of all requesters are known.<br />
<h4 name="Lodging_">Lodging:</h4>
Lodging arrangements are included in the registration fee (reservations will be made in the name of each participant in an dormitory room on campus).  If you will be making your own lodging arrangements, please indicate this during the registration process.<br />
<h4 name="Course_Size_">Course Size:</h4>
The number of participants is limited to 15.<br />
<h4 name="Computer_Equipment_">Computer Equipment:</h4>
We will provide desktop computers in the training room but participants may also bring their own laptops for which network access will be available.<br />
<h4 name="Contact">Contact</h4>
If you need further information or have any question please contact us by <script>mail2("erigtsaritno","ocapis",1,"?Subject=User%20Workshop%202013","email")</script>.</div><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
