---
title: "JointAnnouncement"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
Announcing two COPASI Workshops in 2009<br />
Modelling and Simulation in Systems Biology<br />
<br />
June 30 - July 2, 2009 at Virginia Bioinformatics Institute,<br />
Blacksburg, VA, USA<br />
<a target="_blank"  href="UserWorkshop2009">http://www.copasi.org/UserWorkshop2009</a><br />
Led by Pedro Mendes and Stefan Hoops<br />
<br />
July 28 - July 30, 2009 at the Manchester Centre for<br />
Integrative Systems Biology, Manchester, UK<br />
<a target="_blank"  href="http://www.mcisb.org/news/copasi_workshop.html">http://www.mcisb.org/news/copasi_workshop.html</a><br />
Led by Pedro Mendes and Juergen Pahle<br />
<br />
These two workshops are for current or prospective users of the<br />
COPASI modeling and simulation package for system biology.<br />
One workshop will take place in the USA, while the second will<br />
take place in the UK. Both workshops will be similar in structure<br />
and we hope this way to cater for audiences in both sides of the<br />
Atlantic.<br />
<br />
These workshops are directed both at beginners as well as<br />
advanced users and there will be sessions directed at each of<br />
these groups (in parallel if needed). The workshops will also<br />
be an important means for the COPASI development team<br />
to collect feedback from users about improving the software.<br />
<br />
COPASI is a free, open-source, software package for creating<br />
and simulating systems biology models. COPASI runs on Windows,<br />
Mac, Linux and Solaris and it is a user-friendly software that<br />
allows for construction of kinetic models without much knowledge<br />
of mathematics. However COPASI is also equipped with advanced<br />
algorithms and is a powerful tool for modeling and simulation,<br />
with some features that are not available in other simulators.<br />
COPASI is available at <a target="_blank"  href="http://www.copasi.org">http://www.copasi.org</a><br />
<br />
The workshops will cover several features of modeling and<br />
simulation by using examples of previously published models.<br />
The set of topics covered:<br />
<br />
<ul><li> Basic Modeling and Simulation - How to create biochemical
</li></ul>
kinetic models, and find out their dynamic behavior and<br />
steady-state properties.<br />
<ul><li> Stochastic Simulation - COPASI's capabilities for running
</li></ul>
Gillespie's algorithm, as well as for automatically converting<br />
ODE-based models to the stochastic representation.<br />
<ul><li> Sensitivity Analysis - Study of the importance of parameters
</li></ul>
in determining the values of model variables. This includes local<br />
as well as global sensitivity analysis.<br />
<ul><li> Parameter Scans - How to easily program COPASI to 1) carry
</li></ul>
out many simulations at different parameter values; 2) random<br />
sampling of parameter values, and 3) determine distributions in<br />
stochastic models.<br />
<ul><li> Optimization - How to use numerical optimization methods to
</li></ul>
explore the properties of large and complex models. This includes<br />
the use of optimization in strategies for metabolic engineering.<br />
<ul><li> Parameter Estimation - How to use experimental data to
</li></ul>
calibrate models to represent real biological systems accurately.<br />
This includes analysis of enzyme kinetic experiments, and in vivo<br />
time courses of cell biology experiments, among other applications.<br />
<ul><li> Data Visualization and Reports - COPASI has a flexible means
</li></ul>
of defining customized reports and plots, including trajectories,<br />
phase planes, and histograms.<br />
<ul><li> Batch Processing - An advanced feature of COPASI is that it can
</li></ul>
be run unattended from a command line, which allows for the<br />
creation of complex work flows, including batch processing and<br />
parallel execution in clusters or Condor pools.<br />
<ul><li> Integration with other Software Packages - How to use COPASI
</li></ul>
together with other applications that support SBML (e.g. Biomodels<br />
database, CellDesigner and SBW)<br />
<ul><li> Web Services - How to access COPASI functionality in other
</li></ul>
software through using the web services technology.<br />
<br />
Details about registration and travel for each of these workshops<br />
can be obtained at their respective web pages:<br />
<br />
Virginia:  <a target="_blank"  href="UserWorkshop2009">http://www.copasi.org/UserWorkshop2009</a><br />
(small registration fee (includes lodging) and possibility of getting financial support)<br />
<br />
Manchester: <a target="_blank"  href="http://www.mcisb.org/news/copasi_workshop.html">http://www.mcisb.org/news/copasi_workshop.html</a><br />
(free registration)<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
