<div class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><img alt="COPASI" src="{{ site.baseurl }}/images/COPASI-light.png"></a>
    <div class="navbar-header" style="min-height: 80px;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% if cps_path.first == "Home" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li {% if cps_path.first == "Download" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/Download">Download</a>
        </li>
        <li {% if cps_path.first == "Features" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/Features">Features</a>
        </li>
        <li class="dropdown{% if cps_path.first == "Support" %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/Support/User_Forum">User Forum</a></li>
            <li><a href="{{ site.baseurl }}/Support/User_Manual">Manual</a></li>
            <li><a href="{{ site.baseurl }}/Support/Video_Tutorials">Video Tutorials</a></li>
            <li><a href="{{ site.baseurl }}/Support/Installation">Installation</a></li>
            <li><a href="{{ site.baseurl }}/Support/Publications">Publications</a></li>
            <li><a href="{{ site.baseurl }}/Support/Change_History">Change History</a></li>
          </ul>
        </li>
        <li class="dropdown{% if cps_path.first == "Projects" %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/Projects/Multistate_Model_Builder">Multistate Model Builder</a></li>
            <li><a href="{{ site.baseurl }}/Projects/JigCell_Run_Manager_2_0">JigCell Run Manager 2.0</a></li>
            <li><a href="{{ site.baseurl }}/Projects/JigCell_Model_Connector">JigCell Model Connector</a></li>
          </ul>
        </li>
        <li {% if cps_path.first == "Events" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/Events">Events</a>
        </li>
        </li>
        <li class="dropdown{% if cps_path.first == "About" %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/About/Team">Team</a></li>
            <li><a href="{{ site.baseurl }}/About/Funding">Funding</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
