<div class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><img alt="COPASI" src="{{ site.baseurl }}/images/COPASI-light.png"></a>
    <div class="navbar-header" style="min-height: 80px;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% if cps_path.first == "Home" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li {% if cps_path.first == "Download" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/Download">Download</a>
        </li>
        <li {% if cps_path.first == "Features" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/Features">Features</a>
        </li>
        <li {% if cps_path.first == "Support" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/Support">Support</a>
        </li>
        <li {% if cps_path.first == "Projects" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/Projects">Projects</a>
        </li>
        <li {% if cps_path.first == "Events" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/Events">Events</a>
        </li>
        <li {% if cps_path.first == "About" %} class="active" {% endif %} >
          <a href="{{ site.baseurl }}/About">About</a>
        </li>
      </ul>
    </div>
  </div>
</div>
