{% for item in site.data.structure %}
  {% if page.structure == item[0] %}
    {% assign cps_structure = item[1] %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign cps_page = cps_path | last | prepend: '/' %}
{% assign cps_parent_url = cps_url | remove: cps_page %}

{% assign found = false %}
{% assign cps_home = '' %}
{% assign cps_parent = '' %}
{% assign cps_previous = '' %}
{% assign cps_current = '' %}
{% assign cps_next = '' %}
 
{% for item in cps_structure.pages %}
  {% if cps_home == '' %}
    {% assign cps_home = item %}
    {% assign cps_home_length = cps_home.path | split: '/' | size %}
  {% endif %}
  {% if cps_parent == '' and item.path == cps_parent_url %}
    {% assign cps_parent = item %}
  {% endif %}
  {% if found == false %}
    {% assign cps_previous = cps_current %}
    {% assign cps_current = item %}
    {% if item.path == cps_url %}
      {% assign found = true %}
    {% endif %}
  {% else %}
    {% if cps_next == '' %}
      {% assign cps_next = item %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if cps_previous != '' %}
  {% assign cps_navigation = true %}
{% else %}
  {% if cps_next != '' %}
    {% assign cps_navigation = true %}
  {% endif %}
{% endif %}


<div class="container">
  <div class="row">
    <div class="col-xs-12">
{% if cps_navigation == true %}

{% if cps_previous != '' %}
<a href="{{ site.baseurl }}/{{ cps_previous.path }}"><img src="{{ site.baseurl }}/images/previous.png" alt="Previous Page" width="37px" height="42px" style="padding: 5px 5px 5px 0px;"/></a>
{% else %}
<img src="{{ site.baseurl }}/images/previous-inactive.png" alt="Previous Page" width="37" height="42px" style="padding: 5px 5px 5px 0px;"/>
{% endif %}

{% if cps_parent != '' and cps_current.path != cps_parent.path %}
<a href="{{ site.baseurl }}/{{ cps_parent.path }}"><img src="{{ site.baseurl }}/images/up.png" alt="Parent Page" width="42px" height="42px" style="padding: 5px;"/></a>
{% else %}
<img src="{{ site.baseurl }}/images/up-inactive.png" alt="Previous Page" width="42px" height="42px" style="padding: 5px;"/>
{% endif %}

{% if cps_next != '' %}
<a href="{{ site.baseurl }}/{{ cps_next.path }}"><img src="{{ site.baseurl }}/images/next.png" alt="Next Page" width="42px" height="42px" style="padding: 5px;"/></a>
{% else %}
<img src="{{ site.baseurl }}/images/next-inactive.png" alt="Previous Page" width="42px" height="42px" style="padding: 5px;"/>
{% endif %}

{% if cps_home != '' and cps_current.path != cps_home.path %}
<a href="{{ site.baseurl }}/{{ cps_home.path }}"><img src="{{ site.baseurl }}/images/house.png" alt="TOC" width="42px" height="42px" style="padding: 5px;"/></a>
{% else %}
<img src="{{ site.baseurl }}/images/house-inactive.png" alt="TOC" width="42px" height="42px" style="padding: 5px;"/>
{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
{% for dummy in cps_path %}{% if forloop.index >= cps_home_length %}{% capture current_path %}{% for item in cps_path limit: forloop.index %}{% if forloop.first == false %}/{% endif %}{{ item }}{% endfor %}{% endcapture %}<a href="{{ site.baseurl }}/{{ current_path }}">{% for item in cps_structure.pages %}{% if current_path == item.path %}{{ item.title }}{% break %}{% endif %}{% endfor %}</a>{% if forloop.last == false %} | {% endif %}{% endif %}{% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ cps_current.title }}</h1> 
    </div>
  </div> 
{% else %}
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ page.title }}</h1> 
    </div>
  </div> 
{% endif %}
</div>


