{% assign cps_parent_url = cps_url | append: '/' %}
{% assign cps_parent_url_size = cps_parent_url | size %}
{% assign cps_indent_count = cps_url | split: '/' | size %}

{% for item in cps_structure.pages %}
  {% assign path_begin = item.path | truncate: cps_parent_url_size, '' %}

  {% if cps_parent_url == path_begin %}
    {% assign indent_count = item.path | split: '/' | size %}
    {% assign delta = indent_count | minus: cps_indent_count %}

    {% case delta %}
    {% when 1 %}
      {% assign  cps_indent_count = cps_indent_count | plus: 1 %}
    <ul><li><a href="{{ site.baseurl }}/{{ item.path }}">{{ item.title }}</a></li>
    {% when 0 %}
      <li><a href="{{ site.baseurl }}/{{ item.path }}">{{ item.title }}</a</li>
    {% when -1 %}
      {% assign  cps_indent_count = cps_indent_count | minus: 1 %}
      </ul><li><a href="{{ site.baseurl }}/{{ item.path }}">{{ item.title }}</a</li>
    {% when -2 %}
      {% assign  cps_indent_count = cps_indent_count | minus: 2 %}
      </ul></ul><li><a href="{{ site.baseurl }}/{{ item.path }}">{{ item.title }}</a</li>
    {% when -3 %}
      {% assign  cps_indent_count = cps_indent_count | minus: 3 %}
      </ul></ul></ul><li><a href="{{ site.baseurl }}/{{ item.path }}">{{ item.title }}</a</li>
    {% when -4 %}
      {% assign  cps_indent_count = cps_indent_count | minus: 4 %}
      </ul></ul></ul></ul><li><a href="{{ site.baseurl }}/{{ item.path }}">{{ item.title }}</a</li>
    {% endcase %}
  {% endif %}

{% endfor %}
