---
title: "COPASI User Workshop 2009 @ VBI"
structure: "Events"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="Agenda">Agenda</h3>
<b>Tuesday, June 30 2009</b><br />
&nbsp;&nbsp;8:15 Registration and Breakfast<br />
&nbsp;&nbsp;9:00 Morning Session<br />
12:00 Lunch<br />
13:00 Afternoon Session I<br />
14:30 Break<br />
14:45 Afternoon Session II<br />
<br />
<b>Wednesday, July 1 2009</b><br />
&nbsp;&nbsp;8:15 Breakfast<br />
&nbsp;&nbsp;9:00 Morning Session<br />
12:00 Lunch<br />
13:00 Afternoon Session I<br />
14:30 Break<br />
14:45 Afternoon Session II<br />
<br />
<b>Thursday, July 2 2009</b><br />
&nbsp;&nbsp;8:15 Breakfast<br />
&nbsp;&nbsp;9:00 Morning Session<br />
12:00 Lunch<br />
13:00 Afternoon Session I<br />
14:30 Break<br />
14:45 Afternoon Session II<br />
<h3 name="Topics">Topics</h3>
<ul><li> Modeling Biochemical Networks with ODEs
</li><li> Trajectories (Plotting Time Courses, Reports, Sliders)
</li><li> Steady States (Newton Method, Trajectory, Stability Analysis)
</li><li> Scan (Reports,  Plotting)
</li><li> Optimization
</li><li> Parameter Estimation
</li><li> Sensitivity
</li><li> Stochastic Simulation (with introduction)
</li><li> Batch processing, command line
</li></ul>
<br />
<a target="_blank" href="http://www.springer.com/cda/content/document/cda_downloaddocument/9781934115640-c1.pdf?SGWID=0-0-45-695908-p173851947" rel="external">Book Chapter</a><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
