---
title: "COPASI Team Meetings"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="Monday_January_25">Monday January 25</h3>
<ul><li> Updates:
<ul><li> SBRML Paper Submitted.
</li><li> COPASI Web services: Time Course, Steady-State, Parameter Estimation.
</li><li> Master students will implement more.
</li><li> Website for accessing the services.
</li><li> COPASI Web services as part of work flow.
</li><li> Website for submitting COPASI jobs to Condor cluster.
</li><li> Online tutorial (Flash video on YouTube, <a target="_blank" href="http://www.debugmode.com/wink/" rel="external">Wink</a>)
</li><li> Multiscale simulation for culture and multicellular organisms.
</li><li> 6 active users testing COPASI and filing bugs.
</li></ul></li></ul>
<br />
<ul><ul><li> Model combination in COPASI
</li><li> MEG for COPASI.
</li><li> Qt 4 conversion
</li><li> COPASI lecture Milano, Osaka
</li><li> Layout converted to Qt 4
</li><li> Rendering extension for COPASI (SBGN)
</li><li> Model merging
</li><li> Student testing.
</li><li> Common and unique elements in multiple models.
</li><li> Calcium dynamics course with COPASI in Heidelberg.
</li><li> Computer practical using COPASI
</li></ul></ul>
<br />
<ul><ul><li>
</li></ul></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
