---
title: "COPASI 4 0 Build 9 test version"
structure: "Change_History"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="span_style_color_000088_4_0_Build_9_test_version_span_"><span style="color:#000088;">(4.0 Build 9 test version)</span></h3>
<h4 name="Release_Date_Oct_11_2004">Release Date: Oct. 11, 2004</h4>
This is the first public release of COPASI. Therefor, no bug fixes and new features were introduced.<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
