---
title: "Introduction"
structure: "JigCell_Run_Manager_2_0"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="JC_RM_Introduction_and_motivation">JC-RM - Introduction and motivation</h3>
<br />
Developing a model with its initial set of values is just the first step in the modeling process.<br />
Big models that encode full organisms are usually parametrized in many different ways to account for mutations of the organism.<br />
<br />
We developed an extension of our modeling editor called Run Manager (JC-RM).<br />
This extension allows the modeler to define a hierarchy of parameter values, simulation and plot settings and couple it with the initial model.<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
