---
title: "Funding"
structure: "Funding"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<br />
COPASI has been generously funded through several sources. We are equally grateful to all of them.<br />
<h3 name="Current_funding">Current funding</h3>
<ul><li><a target="_blank" href="http://www.nih.gov" rel="external">National Institutes of Health</a> (USA), grant GM080219 (NIGMS)
</li><li><a target="_blank" href="http://www.bbsrc.ac.uk" rel="external">BBSRC</a> (UK), grant BB/J019259/1
</li><li><a target="_blank" href="http://www.bmbf.de" rel="external">BMBF Federal Ministry of Education</a> (Germany)
</li></ul>
<h3 name="Past_Funding">Past Funding</h3>
<ul><li><a target="_blank" href="http://www.vbi.vt.edu" rel="external">Virginia Bioinformatics Institute</a> (USA)
</li><li><a target="_blank" href="http://www.klaus-tschira-stiftung.de/english/index.html" rel="external">Klaus Tschira Foundation</a> (Germany)
</li><li>BBSRC and EPSRC through the Manchester Centre for Integrative Systems Biology, grant BB/C008219/1 (UK)
</li></ul>
<br />
COPASI is derived from <a target="_blank" href="http://www.gepasi.org" rel="external">Gepasi</a>, which was originally funded by the JNICT (Portugal) and the BBSRC (UK).<br />
<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
