---
title: "COPASI 4 0 Build 10 test version"
structure: "Change_History"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="span_style_color_000088_4_0_Build_10_test_version_span_"><span style="color:#000088;">(4.0 Build 10 test version)</span></h3>
<h4 name="Release_Date_Nov_4_2004">Release Date: Nov. 4, 2004</h4>
<h4 name="New_Features">New Features</h4>
<ul><li>&quot;new function&quot; button in reaction dialog is now functional.
</li><li>Dialog box now asks user if s/he wants to save file prior to running a task on an unsaved file.
</li><li>A progress bar is now shown when loading/saving files (important for very large files).
</li></ul>
<h4 name="Bug_Fixes">Bug Fixes</h4>
<ul><li>Adding metabolites without having added a compartment first no longer crashes COPASI.
</li><li>Changes in initial concentrations of &quot;fixed&quot; metabolites were not passed to the simulation engine. This has been fixed.
</li><li>Calculation of elementary modes did not work for large models; this is now working.
</li><li>COPASI no longer crashes when reading certain Gepasi files.
</li><li>Object Browser dialog has been moved to the tools menu.
</li><li>Crashes when deleting the last metabolite, reaction or compartment have been fixed.
</li><li>Crash when canceling the save process in the time course results table has been fixed.
</li><li>COPASI no longer crashes when opening incomplete or invalid SBML files.
</li><li>Simple Wizard now works on windows version.
</li><li>Metabolites can no longer have empty names
</li><li>Fixed a bug in the object browser that would crash COPASI if &quot;root&quot; was checked and Ok pressed.
</li><li>COPASI added whitespace at the top of the comments every time a file was saved, this is now fixed.
</li><li>&quot;Stability analysis&quot; is now inactive if the user did not request calculation of Jacobian.
</li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
