---
title: "Team"
structure: "Team"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

The COPASI project is an international collaboration between three groups at the <a target="_blank" href="http://www.vbi.vt.edu" rel="external">Virginia Bioinformatics Institute</a>, the <a target="_blank" href="http://www.uni-heidelberg.de/index_e.html" rel="external">University of Heidelberg</a>, and the <a target="_blank" href="http://www.manchester.ac.uk/" rel="external">University of Manchester</a> (the project has also been developed at <a target="_blank" href="http://www.h-its.org/english/" rel="external">HITS</a> in the past). All aspects of coding, documentation, and testing are distributed between the three groups.<br />
<h4><a target="_blank" href="https://www.vbi.vt.edu/about/group/Biochemical-Networks-Modeling-Group" rel="external">Hoops group @ VBI</a></h4>
<ul><li><b>Stefan Hoops</b>: Software architect, project manager, programmer, and webmaster
</li><li><b>Brian Klahn</b>: Software developer, programmer, tester
</li></ul>
<h4><a target="_blank" href="http://www.bioquant.uni-heidelberg.de/research/groups/modeling_of_biological_processes.html" rel="external">Department Modeling of biological Processes @ University of Heidelberg</a></h4>
<ul><li><b>Ursula Kummer</b>: Principal Investigator, tester
</li><li><b>Sven Sahle</b>: Software architect, project manager, programmer
</li><li><b>Frank Bergmann</b>: Software engineering, programmer, documentation
</li><li><b>Juergen Pahle</b>: Software engineering, programmer, Tester
</li><li><b>Ralph Gauges</b>: Software engineering, documentation
</li><li><b>Ursula Rost</b>: Programmer
</li><li><b>Natalia Simus</b>: Programmer
</li></ul>
<h4><a target="_blank" href="http://www.comp-sys-bio.org/" rel="external">Mendes group @ University of Manchester</a></h4>
<ul><li><b>Pedro Mendes</b>: Principal Investigator, occasional programmer, tester, and webmaster
</li><li><b>Norman Paton</b>: co-Principal Investigator, software architect
</li><li><b>Ettore Murabito</b>: Software engineering, programmer, tester
</li><li><b>Joseph Dada</b>: Software engineering (now at Elizade University, Nigeria)
</li><li><b>Kieran Smallbone</b>: Tester
</li></ul>
<h4>Ex-team members</h4>
<ul><li><b>Diogo Camacho</b>: Tester (<span style="color:#BB2222;">VBI</span>, Fall 2004 - Summer 2007)
</li><li><b>Carel van Gend</b>: Programmer (<span style="color:#BB2222;">EML</span>, October 2000 - May 2002)
</li><li><b>Ankur Gupta</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Spring 2002)
</li><li><b>Yongqun (Oliver) He</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Fall 2001 - Spring 2002)
</li><li><b>David Heilman</b>: Programmer (<span style="color:#BB2222;">VBI</span>, June 2010 - August 2010)
</li><li><b>Wenjun Hu</b>: Programmer (<span style="color:#BB2222;">EML</span>, August 2003 - October 2003)
</li><li><b>Tim Johann</b>: Programmer  (<span style="color:#BB2222;">EML</span>)
</li><li><b>Aejaaz Kamal</b>: Software engineering, programmer (<span style="color:#BB2222;">VBI</span>, Summer 2001 - Summer 2011)
</li><li><b>Michalina Kaszuba</b>: Programmer (<span style="color:#BB2222;">Manchester</span>, Fall 2011 - Spring 2012)
</li><li><b>Ed Kent</b>: Software engineering, Tester (<span style="color:#BB2222;">Manchester</span>, Fall 2010 - Fall 2013)
</li><li><b>Artjom K&#246;nig</b>: Programmer  (<span style="color:#BB2222;">EML</span>)
</li><li><b>Mrinmyee Kulkarni</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Spring 2002 - Fall 2003)
</li><li><b>Christine Lee</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Fall 2003 - Spring 2005)
</li><li><b>Sarah Lilienthal</b>: Programmer (<span style="color:#BB2222;">EML</span>, July - August 2005)
</li><li><b>Rohan Luktuke</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Summer 2002 - Fall 2002)
</li><li><b>Olusegun Oshota</b>: Tester  (<span style="color:#BB2222;">Manchester</span>)
</li><li><b>Robert Platt</b>: Tester  (<span style="color:#BB2222;">Manchester</span>)
</li><li><b>Anton Ruff</b>: Tester, programmer  (<span style="color:#BB2222;">EML</span>)
</li><li><b>Gaurav Singh</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Fall 2003 - Spring 2004)
</li><li><b>Mudita Singhal</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Spring 2002 - Summer 2003)
</li><li><b>Anurag Srivastava</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Fall 2004 - Summer 2005)
</li><li><b>Natalie Stanford</b>: Tester  (<span style="color:#BB2222;">Manchester</span>)
</li><li><b>Wei Sun</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Fall 2001 - Summer 2002)
</li><li><b>Sameer Tupe</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Fall 2004 - Fall 2005)
</li><li><b>Liang Xu</b>: Programmer (<span style="color:#BB2222;">VBI</span>, Spring 2003 - Fall 2003)
</li><li><b>Katja Wegner</b>: Tester, programmer, documentation (<span style="color:#BB2222;">EML</span>)
</li><li><b>Paul Willy</b>: Programmer  (<span style="color:#BB2222;">EML</span>)
</li><li><b>J&#252;rgen Zobeley</b>: Tester (<span style="color:#BB2222;">EML</span>)
</li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
