---
title: "COPASI 4 11 Build 65"
structure: "Change_History"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="span_style_color_000088_Version_4_11_Build_65_span_"><span style="color:#000088;">Version 4.11 (Build 65)</span></h3>
Release Date: Oct 25, 2013<br />
<h4 name="This_is_a_bug_fix_release_there_are_no_new_features_in_this_release_">This is a bug fix release, there are no new features in this release.</h4>
<h4 name="Bug_Fixes_since_COPASI_4_11_Build_64_">Bug Fixes since COPASI 4.11 (Build 64)</h4>
<ul><li> Graphical User Interface (CopasiUI)
<ul><li> Fixed crash when editing experimental data in  the parameter estimation task. The crash occurred when deleting an experiment, which was specifically listed in an parameter as affected experiment.
</li></ul></li><li> SBML
<ul><li> Fixed crash, which occasionally occurred when importing an SBML file created with CellDesigner under Linux and Mac OS X
</li></ul></li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
