---
title: "Download"
structure: "JigCell_Run_Manager_2_0"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="JigCell_Run_Manager_download">JigCell Run Manager download</h3>
<br />
<i>License</i><br />
The packages available on this page are provided under the Artistic License 2.0, which is an OSI approved license.<br />
This license allows non-commercial and commercial use free of charge.<br />
<br />
<h4 name="Latest_Stable_Versions_2_0_Test_release_">Latest Stable Versions: 2.0 (Test release)</h4>
The latest stable version of JC-MSMB is Version 2.0 (includes Run Manager) and was released on September 5.<br />
<br />
Installer: <span style="text-decoration:underline;"> <a href="JCMSMB_installer.jar&amp;page=MSMB-RM.Download" rel="external">multi platform installer</a></span> (*) (**)<br />
(*) Note: you need to be connected to the Internet to run the installation because the installer will automatically download the right packages for the platform you are using (Windows (32 or 64), Linux (32 or 64) or Mac OSX).<br />
(**) Requires Java 6<br />
You do not need administrative permission on your machine to run the installation.<br />
<br />
Notes to start JC-MSMB:<br />
<ul><li> for Window users:  double click on the JCMSMB.jar file.
</li><li> for Mac users: double click on the JCMSMB_launcher.command file
</li><li> for Linux users: double click on the JCMSMB_launcher.sh file
</li></ul>
<br />
Source code: <a target="_blank" href="https://github.com/copasi/MSMB " rel="external"> available from GitHub</a><br />
<br />
If you have any trouble with the installer or compiling the source code, please send an email to alida<b>dot</b>palmisano<b>at</b>vt<b>dot</b>edu<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
