---
title: "Linux Resources"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h4 name="Libraries">Libraries</h4>
The libraries below are needed to build COPASI. In addition you need the gcc or Intel compilers.<br />
<ol><li> <a target="_blank" href="http://www.netlib.org/lapack/" rel="external">LAPACK</a> get the latest package or compile from sources; then put the <a target="_blank" href="http://www.netlib.org/f2c/f2c.h" rel="external">f2c.h</a> file from netlib on the copasi directory
</li><li> <a target="_blank" href="http://expat.sourceforge.net/" rel="external">expat</a>  2.0.1 or later, which may already be installed in your system
</li><li> <a target="_blank" href="http://download.librdf.org/source/raptor-1.4.21.tar.gz" rel="external">raptor</a> 1.4.21 or later is needed for RDF support in the MIRIAM annotation. To configure please run:
<ul><li><code>LDFLAGS=&quot;$LDFLAGS -lm&quot; ./configure --with-xml-parser=expat --with-www=none </code>
</li></ul></li><li> <a target="_blank" href="http://sourceforge.net/projects/sbml/files/libsbml/4.2.0/libsbml-4.2.0-src.tar.gz/download" rel="external">libsbml-4.2.0-src.tar.gz</a>. If you like yo use the render extension you will also need this <a  href="libsbml-4.2.0-render-extension.patch.tgz" rel="">patch</a>. To apply the patch please change to the libsbml-4.2.0 directory and execute:
<ul><li><code>tar -xzvf libsbml-4.2.0-render-extension.patch.tgz</code>
</li><li><code>patch -p1 &lt; libsbml-4.2.0-render-extension.patch</code>
</li></ul><br /> To configure please run:
<ul><li><code>./configure --enable-layout=yes  [--enable-render=yes]  --with-expat --disable-compression</code>
</li></ul></li><li> Install the SBW integration library, which can be found <a title="COPASI: Hidden/Intranet/Development Resources/Build Environment" href="{{ site.baseurl }}/Hidden/Intranet/Development_Resources/Build_Environment" >here</a>.
</li><li> Install the qwt plotting library, which can be found <a title="COPASI: Hidden/Intranet/Development Resources/Build Environment" href="{{ site.baseurl }}/Hidden/Intranet/Development_Resources/Build_Environment" >here</a>.
</li><li> Install the qwt 3D plotting library, which can be found <a title="COPASI: Hidden/Intranet/Development Resources/Build Environment" href="{{ site.baseurl }}/Hidden/Intranet/Development_Resources/Build_Environment" >here</a>.
</li><li> Install the Qt MML Widget library, which can be found <a title="COPASI: Hidden/Intranet/Development Resources/Build Environment" href="{{ site.baseurl }}/Hidden/Intranet/Development_Resources/Build_Environment" >here</a>.
</li></ol>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
