---
title: "Mac OS X"
structure: "Installation"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="Mac_OS_X_Installation">Mac OS X Installation</h3>
<ol><li>Download the Mac OS X installation package.
</li><li>Double click on the icon for the downloaded image; this will uncompress the image and start the installation.
</li><li>CopasiUI can be found under Applications/COPASI. CopasiSE maybe started in the command line.
</li></ol>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
