---
title: "Case Studies"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="Parameter_Estimation">Parameter Estimation</h3>
<h4 name="Tested_algorithms">Tested algorithms</h4>
Genetic algorithm<br />
Levenberg Marquardt<br />
<h4 name="Test_data">Test data</h4>
Fitting data from the Test Suit<br />
<h4 name="Initial_results">Initial results</h4>
Algorithms strongly depend on COPASI Internal Solver. Use of a parallel version of solver and/or loop parallelization may help improve performance. Parallel version of COPASI  is needed?<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
