---
title: "Windows"
structure: "Installation"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="Windows_Installation">Windows Installation</h3>
<ol><li>Download the Windows installation package.
</li><li>Start the install process by double clicking <span style="color:#000088;"><b><code>Copasi-*-WIN32.msi</code></b></span> or <span style="color:#000088;"><b><code>Copasi-*-WIN32.exe</code></b></span>. If you do not have administrative rights an the installation to the default directory fails you must choose a directory where you have write permission.
</li><li>CopasiUI is under the Start menu, CopasiSE may be started through the command line.
</li></ol>
<br />
<b><span style="color:#000088;">Please note, you will have to replace the<code> *</code> above with the build number of your package.</span></b><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
