---
title: "Class Structure"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="Access_of_information_in_COPASI_classes">Access of information in COPASI classes</h3>
This section describes the data structures that COPASI uses to store information internally. This includes the description of the biochemical model, the tasks, the output definition, etc. This section should be useful for a programmer who wants to access information or create objects in COPASI.<br />
The actual functionality of those classes is described in other sections below.<br />
<br />
<br />
<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
