---
title: "ICSB 2006 Advanced Tutorial"
structure: "Events"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

COPASI tutorial that took place at the<br />
<a target="_blank" href="http://www.icsb-2006.org/" rel="external">International Conference for Systems Biology, Yokohoma, October 9-13 2006</a>.<br />
<br />
<div class="simplebox"><b><span style="color:#BB0000;"> Tutorial 9 has reached the maximal number of participants. However, we are keeping a waiting list in case we have some cancelations.</span></b><br />
<h3 name="Tutorial_9_span_style_color_000088_Advanced_Model_Analysis_with_COPASI_span_">Tutorial 9: <span style="color:#000088;">Advanced Model Analysis with COPASI</span></h3>
Support Files:<br />
<ul><li><a  href="tut1.cps" rel="">tut1.cps</a>
</li><li><a  href="brussnoisydata.txt" rel="">brussnoisy.dat</a>
</li></ul>
<br />
<h4 name="Schedule_">Schedule:</h4>
<ul><li> October 8th, 2006 afternoon session
</li></ul>
<h4 name="Instructors_">Instructors:</h4>
<ul><li> Pedro Mendes (Virginia Bioinformatics Institute), Sven Sahle and Ralph Gauges (EML Research gGmbH)
</li></ul>
<h4 name="Course_topics_">Course topics:</h4>
<ul><li> COPASI (Complex Pathway Simulator) is a software application for simulation and analysis of biochemical networks. It is developed jointly by the groups of Pedro Mendes (Virginia Bioinformatics Institute, USA) and Ursula Kummer (EML Research, Germany), and is freely available for academic use.
</li><li> Besides doing deterministic and stochastic time course simulation, COPASI has a number of advanced methods for the analysis of biochemical reaction networks.
</li><li> In this course we will explain how COPASI can be used to do parameter scans and parameter estimation.
</li><li> Another topic will be how users can use COPASI to optimize certain model aspects as for example the flux through a certain reaction, via the optimization task.
</li><li> Although COPASI has a large number of predefined output definitions that the user can choose from, it is sometimes desirable to define your own custom output. In this course we will show how the user can define his/her own complex reports with COPASI's powerful report widget.
</li></ul>
<h4 name="Target_Audience_">Target Audience:</h4>
<ul><li> modelers (computational biologists) and experimentalists that are already familiar with modeling.
</li></ul>
<h4 name="Course_Size_">Course Size:</h4>
<ul><li> ~20 Participants
</li></ul>
<h4 name="Course_length_">Course length:</h4>
<ul><li> 3 hours
</li></ul>
<b><span style="color:#BB0000;">Participants are encouraged to bring their own computers.</span></b><br />
</div><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
