---
title: "Test cases"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h4 name="Test_cases_for_event_support">Test cases for event support</h4>
Here we will list some cases for which we should create test models.<br />
<br />
<ul><li>Order of execution of events with different PRIOR flag.
</li><li>The same, if the event is triggered by another event or a stochastic reaction step
</li><li>Handling of trigger expressions like &quot;X==5&quot;, both for continuous and discrete simulations.
</li><li>handling of moieties
</li><li>...
</li></ul>

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
