---
title: "Feature Request at Workshops"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<ul><li> When a rate law is entered from the reaction widget, it should be automatically assigned to the reaction
</li><li> Mark used functions
</li><li> Recognize objects by name in the expression wizard.
</li><li> Improve user manual description of methods.
</li><li> Improve Website
</li><li> Call weblinks from within COPASI, e.g., COPASI's documentation
</li><li> Make tutorial interactive
</li><li> Weights for individual data points read from files.
</li><li> Export data/graphs or gnuplot.
</li><li> Warning for missing output in GUI.
</li><li> Automatic choice of kinetic laws.
</li><li> Export references as BibTex or otherwise formatted.
</li><li> Graphical layout of networks.
</li><li> Find all steady states.
</li><li> Add vertical ruler to plots.
</li><li> Add horizontal ruler to plot which shows the values of all curves.
</li></ul>
<br />
<h2 name="2014">2014</h2>
<ul><li> Reaction labels in layout.
</li><li> Webpage COPASI in Education
</li><li> Saving Movies
</li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
