---
title: "COPASI 4 0 Build 15 test version"
structure: "Change_History"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="span_style_color_000088_COPASI_4_0_Build_15_test_version_span_"><span style="color:#000088;">COPASI (4.0 Build 15 test version)</span></h3>
<h4 name="Release_Date_September_15_2005">Release Date: September 15, 2005</h4>
<h4 name="NEW_FAETURES">NEW FAETURES</h4>
<ul><li> There are no new features in this release as this is a bug fix release for Build 14. For new features please see the <a title="COPASI: Support/Change History/COPASI 4 0 Build 14 test version" href="{{ site.baseurl }}/Support/Change_History/COPASI_4_0_Build_14_test_version" >COPASI (4.0 Build 14 test version</a>).
</li></ul>
<h4 name="BUG_FIXES">BUG FIXES</h4>
<ul><li> Fixed crash in the metabolite table, which occurred when the initial concentration for a new metabolite was changed.
</li><li> Solved problem displaying incorrect function parameters in the function widget.
</li><li> Fixed packaging problem for Windows.
</li><li> Copasi now prompts whether to save a changed file when closing.
</li><li> Optimization returned incorrect results in some particular situations.
</li><li> The progress bar can now be minimized.
</li><li> Fixed crash when clicking on main windows while the progress bar is showing.
</li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
