---
title: "Bibliography"
structure: "Multistate_Model_Builder"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="MSMB_References">MSMB - References</h3>
<div style=" text-align: left; float: none; clear: none;" class='latex' >\begin{btSect}{}<br />
\begin{bibgroup}<br />
\begin{thebibliography}{WIDELABEL}</div><div style=" text-align: left; float: none; clear: none;" class='bibliography' ><br />
<dl><dt> <a name="Vass04"></a>[Barik2010]</dt><dd> D. Barik, W.T. Baumann, M.R. Paul,  B. Novak and  J.J. Tyson. <i>A model of yeast cell-cycle regulation based on multisite phosphorylation</i> Molecular Systems Biology. 6. 2010.</dd></dl><br />
<dl><dt><a name="Hoops06"></a>[Hoops06]</dt><dd> S. Hoops, S. Sahle, R. Gauges, C. Lee, J. Pahle, N. Simus, et al. <i>COPASI &mdash; A COmplex PAthway SImulator</i> Bioinformatics. 22. 3067--3074. 2006.</dd></dl><br />
<dl><dt> <a name="Vass06"></a>[Vass04]</dt><dd> M. Vass, N. Allen, C.A. Shaffer, N. Ramakrishnan, L.T. Watson and J.J. Tyson <i>The JigCell Model Builder and Run Manager</i> Bioinformatics. 20. 3680--3681. 2004.</dd></dl><br />
<dl><dt> <a name="Vass04"></a>[Vass06]</dt><dd> M. Vass, C.A. Shaffer, N. Ramakrishnan, L.T. Watson and J.J. Tyson <i>The JigCell Model Builder: a spreadsheet interface for creating biochemical reaction network models</i> IEEE/ACM Transactions on Computational Biology and Bioinformatics. 3. 155--164. 2006.</dd></dl><br />
<tt> </div><div style=" text-align: left; float: none; clear: none;" class='latex' ></tt><br />
\end{thebibliography}<br />
\end{bibgroup}<br />
\end{btSect}</div><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
