---
title: "Assignment"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

An event assignment has two components an expression and a target.<br />
<br />
All assignments associated with a single event are executed as one unit. This means further updates and checking for new events is done only after all assignments for a single event are carried out.<br />
<h3 name="Expression">Expression</h3>
This is a mathematical expression which must evaluate to a numeric value.<br />
<h3 name="Target">Target</h3>
An assignment target is the object, which will be assigned the value of the expression when the assignment is <b><i>carried out</i></b>. The target must be unique within the list of assignments for one event.<br />
<br />
It is obvious that an event assignment target must not be determined by an expression. This rules out any model object of type assignment as well as rates, fluxes, etc. Additionally, it does not make sense to apply assignments to initial values. The values which are left are the transient values (for species we use concentration) of model entities of type ODE, reaction, or fixed. We limit the event assignment target for species to the concentrations since we do the same for initial values and assignments.<br />
<br />
Please note that local kinetic parameters are allowed as targets.<br />
<h3 name="Resolution_of_Simultaneous_Events">Resolution of Simultaneous Events</h3>
It is possible that  simultaneously <b><i>executed</i></b> assignments have the same target (<a title="COPASI: Hidden/Intranet/Events/Simultaneous Events" href="{{ site.baseurl }}/Hidden/Intranet/Events/Simultaneous_Events" >simultaneous events</a>). This  situation is not resolved and will lead to an interuption of the integration with an appropriate error message.<br />
<h3 name="Processing">Processing</h3>
Multiple assignments must be <b><i>carried out</i></b> simultaneously. To achieve this we split the process into two steps:<br />
<ol><li> <b><i>calculate</i></b> the expression.
</li><li> <b><i>execute</i></b> the target assignment
</li></ol>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
