---
title: "Git"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

The COPASI team uses <a target="_blank" href="http://git-scm.com/" rel="external">git</a> as the source code repository. A public repository is available at <a target="_blank" href="https://github.com/organizations/copasi" rel="external">github.com</a>. Additionally, we maintain a private repository at  gitolite@git.copasi.com . The private repository provides means to develop new experimental features and algorithms, which shall not be publicly available because they part of thesis work or a publication.  The private repository uses <a target="_blank" href="http://gitolite.com/gitolite/g2/master-toc.html" rel="external">gitolite 1.5.4</a>. To access the private repository a ssh key needs to be generated and uploaded to the server. Currently Stefan is handling the maintenance of the access to the private repository. The maintenance is git based and thus can easily be shared among different people.<br />
<br />
<h3 name="Getting_started">Getting started</h3>
Clone the private repository: <pre class="codelisting" dir="ltr" style="overflow:auto;">git clone git@github.com:copasi/COPASI.git</pre><br />
Clone the public repository (ssh): <pre class="codelisting" dir="ltr" style="overflow:auto;">git clone git@github.com:copasi/COPASI</pre><br />
After you have cloned the repository please execute the following so that your name and email is known. Additionally, this will enable git to format you C code so that and to add Copyright statements.<pre class="codelisting" dir="ltr" style="overflow:auto;">cd COPASI
gitTools/initTools [--Windows]</pre><br />
where --Windows will provide windows binaries for supporting tools under Windows.<br />
<h3 name="Updating_your_repository">Updating your repository</h3>
If you do not have any uncommitted changes: <pre class="codelisting" dir="ltr" style="overflow:auto;">git fetch
git rebase</pre><br />
If you do have uncommitted changes: <pre class="codelisting" dir="ltr" style="overflow:auto;">git stash
git fetch
git rebase
git stash pop</pre><br />
<h3 name="Publishing_your_commits">Publishing your commits</h3>
<pre class="codelisting" dir="ltr" style="overflow:auto;">git push</pre><br />
If this fails:<pre class="codelisting" dir="ltr" style="overflow:auto;">git fetch
git rebase
git push</pre><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
