---
title: " Guidelines"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

Guidelines fulfill two major purposes:<br />
<ol><li> They annoy developers by restricting their freedom to code how and whatever they like.
</li><li> Make the code better readable and understandable by other developers.
</li></ol>
<br />
COPASI is a team effort, which has been created by a number of people most of them no longer in the team. Therefore, the benefits of point 2 by far outweigh the annoyance factor for the individual developer. It is therefore imperative that each developer has a look at the guide lines and follows them as strict as possible. It is also important to remind that even single developers need readable code as after some time reading your own old code is the same as reading someone else's.<br />
<br />
The guide lines are available online (<a  href="tiki-integrator.php?repID=10" rel="">html</a>) or for download (<a  href="CodeGuidelines.pdf" rel="">pdf</a>).<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
