---
title: "JigCell Model Connector: A Tool for Building Large Molecular Network Models from Components"
structure: "JigCell_Model_Connector"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<br />
The ever-growing size and complexity of molecular network models makes them difficult to construct and understand. Our approach to modeling is to build large models by combining together smaller models, making them easier to comprehend. At the base, the smaller models (called modules) are defined by small collections of reactions. Modules connect together to form larger modules through clearly defined interfaces  called ports. We present the JigCell Model Connector, a software tool that supports large-scale molecular network modeling.<br />
<br />
<h3 name="The_Process">The Process</h3>
<br />
<span class="img"><img alt="" src="Process.jpg" border="0"  width="375" height="375" /></span><br />
<br />
<h3 name="Features">Features</h3>
<ul><li>Construct large models by connecting smaller modules together.
</li><li>Create a module template and import it multiple times.
</li><li>Complete models can be saved and later imported as submodules.
</li><li>Import models in <a target="_blank" href="http://sbml.org/Main_Page" rel="external">Systems Biology Markup Language (SBML)</a> format.
</li><li>Export valid models in SBML format, using the new SBML <a target="_blank" href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/Hierarchical_Model_Composition_%28comp%29" rel="external">Hierarchical Model Composition</a> and <a target="_blank" href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/Layout_%28layout%29" rel="external">Layout</a> packages.
</li><li>Once exported, the SBML files can be imported into COPASI for further analysis.
</li></ul>
<br />
<br />
<h3 name="Publications">Publications</h3>
<ul><li>(full publication) in preparation
</li><li>(<a  href="2013_ICCCB_AC_Poster.pdf" rel="">poster</a>) International Conference on Computational Cell Biology (ICCCB), August 2013, Blacksburg, Virginia, USA
</li></ul>
<br />
<br />
<h3 name="Contents">Contents</h3>
<ul><li><a title="COPASI: Projects/JigCell Model Connector/Download" href="{{ site.baseurl }}/Projects/JigCell_Model_Connector/Download" >Download</a>
</li><li><a title="COPASI: Projects/JigCell Model Connector/User Manual" href="{{ site.baseurl }}/Projects/JigCell_Model_Connector/User_Manual" >User Manual</a>
</li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
