---
title: "Resources"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<ul><li> Miriam website <a target="_blank" href="http://www.ebi.ac.uk/compneur-srv/miriam-main/" rel="external">link</a>
</li><li> <a target="_blank" href="http://www.w3.org/TR/rdf-syntax-grammar/" rel="external">RDF/XML Syntax Specification</a>
<ul><li> <a target="_blank" href="http://esw.w3.org/topic/SimpleRdfXml" rel="external">SimpleRdfXml</a> is proposal to simplify and remove diversity allowed in the RDF/XML Syntax Specification.
</li></ul></li><li> To parse and serialize RDF we will use <a target="_blank" href="http://librdf.org/raptor/" rel="external">Raptor RDF Parser Library</a>.
</li><li> The SOAP Client library we will use is <a target="_blank" href="http://ws.apache.org/axis/cpp/index.html" rel="external">AxisC</a>.
</li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
