---
title: "Download"
structure: "Multistate_Model_Builder"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h3 name="MSMB_download">MSMB download</h3>
<br />
<i>License</i><br />
The packages available on this page are provided under the Artistic License 2.0, which is an OSI approved license.<br />
This license allows non-commercial and commercial use free of charge.<br />
<br />
<h4 name="Latest_Stable_Versions_2_0_Test_release_">Latest Stable Versions: 2.0 (Test release)</h4>
The latest stable version is Version 2.0 (includes Run Manager) and was released on September 5, 2014.<br />
<br />
Installer: <span style="text-decoration:underline;"> <a target="_blank" href="https://github.com/copasi/MSMB/raw/master/izpackInstallerFiles/JCMSMB_installer.jar" rel="external">multi platform installer</a></span> (*) (**)<br />
(*) Note: you need to be connected to the Internet to run the installation because the installer will automatically download the right packages for the platform you are using (Windows (32 or 64), Linux (32 or 64) or Mac OSX).<br />
(**) Requires Java 6<br />
You do not need administrative permission on your machine to run the installation.<br />
<br />
Source code: <a target="_blank" href="https://github.com/copasi/MSMB " rel="external"> available from GitHub</a><br />
<br />
If you have any trouble with the installer or compiling the source code, please send an email to alida<b>dot</b>palmisano<b>at</b>vt<b>dot</b>edu<br />
<br />
<b>(Previous version)  Version 1.0</b>, released on  December 10, 2013.<br />
Installer: <span style="text-decoration:underline;"> <a href="MSMB_installer.jar&amp;page=MSMB.Download" rel="external"> multi platform installer</a></span> (*) (**)<br />
(*) Note: you need to be connected to the Internet to run the installation because the installer will automatically download the right packages for the platform you are using (Windows (32 or 64), Linux (32 or 64) or Mac OSX).<br />
(**) Requires Java 6<br />
You do not need administrative permission on your machine to run the installation.<br />
<h3 name="System_requirements">System requirements</h3>
<h4 name="Requirements_and_Installation">Requirements and Installation</h4>
MSMB is implemented in Java and it is freely available for download from one of the links above.<br />
<br />
<span class="img"><img alt="" src="installerScreenshots.jpeg" border="0"  width="50%" /></span><br />
<b>Screenshots of the 4 simple steps of the installer wizard</b><br />
The different panels shows project information, installation path, selection of the sub-packages, download and the final installation.<br />
<br />
<br />
We provide easy installation packages for all the different architectures/OS and the source code is available on GitHub.<br />
The compilation from source code is carried out using CMake: detailed instructions of how to produce the executable jar of MSMB can be found in the source code repository.<br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
