---
title: "COPASI 4 14 Build 89"
structure: "Change_History"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="span_style_color_000088_Version_4_14_89_span_"><span style="color:#000088;">Version 4.14.89</span></h3>
Release Date: October 10, 2014<br />
<h4 name="New_Features_since_COPASI_4_13_Build_87_">New Features since COPASI 4.13 (Build 87)</h4>
<ul><li> Simulation Engine
<ul><li> Added gamma distribution to the option for the sampling distributions for the scan task.
</li></ul></li></ul>
<h4 name="Bug_Fixes_since_COPASI_4_12_Build_81_">Bug Fixes since COPASI 4.12 (Build 81)</h4>
<ul><li> Graphical User Interface (CopasiUI)
<ul><li> Fixed issue were slider reverted resulting optimization and fitting parameters.
</li></ul></li><li> Simulation Engine
<ul><li> Fixed problem with the scatter search optimization algorithm which did no respond to stopping the task.
</li><li> Fixed selection dialog for sensitivity object selection for the effect which showed model constants.
</li></ul></li><li> SBML
<ul><li> Updated libsbml to 5.10.3 to avoid crashes during SBML import and export.
</li><li> Fixed Immport of Avogadro constant which differ in different SBML versions.
</li></ul></li><li> Source package
<ul><li> Improved instructions on how to build COPASI from source.
</li></ul></li></ul>
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
