---
title: "COPASI Video Tutorials"
structure: "Video_Tutorials"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<br />
These videos are from our YouTube channel (<a target="_blank" href="http://www.youtube.com/user/CopasiTutorials" rel="external">CopasiTutorials</a>) and describe specific functions of COPASI<br />
<h4 name="Introduction_to_COPASI">Introduction to COPASI</h4>
<OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" WIDTH="640" HEIGHT="385"><PARAM NAME="movie" VALUE="http://www.youtube.com/v/4pH16ema-Lg"><PARAM NAME="quality" VALUE="high"><PARAM NAME="wmode" VALUE="transparent"><embed src="http://www.youtube.com/v/4pH16ema-Lg" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="385" wmode="transparent"></embed></object><br />
<h4 name="COPASI_Model_Creation">COPASI Model Creation</h4>
<OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" WIDTH="640" HEIGHT="385"><PARAM NAME="movie" VALUE="http://www.youtube.com/v/Q3IumEn9204"><PARAM NAME="quality" VALUE="high"><PARAM NAME="wmode" VALUE="transparent"><embed src="http://www.youtube.com/v/Q3IumEn9204" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="385" wmode="transparent"></embed></object><br />
<h4 name="COPASI_Time_Course_Simulation">COPASI Time Course Simulation</h4>
<OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" WIDTH="640" HEIGHT="385"><PARAM NAME="movie" VALUE="http://www.youtube.com/v/BWUoRuYLJPQ"><PARAM NAME="quality" VALUE="high"><PARAM NAME="wmode" VALUE="transparent"><embed src="http://www.youtube.com/v/BWUoRuYLJPQ" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="385" wmode="transparent"></embed></object><br />
<h4 name="Basic_Plotting_with_COPASI">Basic Plotting with COPASI</h4>
<OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" WIDTH="640" HEIGHT="385"><PARAM NAME="movie" VALUE="http://www.youtube.com/v/qiYLMTsa-_Y"><PARAM NAME="quality" VALUE="high"><PARAM NAME="wmode" VALUE="transparent"><embed src="http://www.youtube.com/v/qiYLMTsa-_Y" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="385" wmode="transparent"></embed></object><br />
<h4 name="COPASI_Steady_State_tutorial">COPASI Steady State tutorial</h4>
<OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" WIDTH="640" HEIGHT="385"><PARAM NAME="movie" VALUE="http://www.youtube.com/v/777f6LW_1Zc"><PARAM NAME="quality" VALUE="high"><PARAM NAME="wmode" VALUE="transparent"><embed src="http://www.youtube.com/v/777f6LW_1Zc" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="385" wmode="transparent"></embed></object><br />
<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
