---
title: "ICSB 2007 Tutorial"
structure: "Events"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

A tutorial has been held at the<br />
<a target="_blank" href="http://www.icsb-2007.org/" rel="external">International Conference for Systems Biology, Long Beach, California, October 1 - 6</a>.<br />
<br />
Please have a look at the attached tutorial materials by looking at the the<br />
<a href="#attachments" inhibited_click="inhibited_js:flip('attzone');">attachments</a>.<br />
<br />
<div class="simplebox"><br />
<h3 name="Tutorial_5_span_style_color_000088_Advanced_Model_Analysis_with_COPASI_span_">Tutorial 5: <span style="color:#000088;">Advanced Model Analysis with COPASI</span></h3>
Pedro Mendes, Stefan Hoops and Sven Sahle, University of Manchester, UK, Virginia Bioinformatics Institute, USA, and University of Heidelberg, Germany.<br />
<br />
We will explain how to utilize parameter scan, optimization, and parameter estimation to understand and improve models using the COPASI software. The tutorial will include a short introduction to the optimization problem.<br />
<br />
COPASI (Complex Pathway Simulator) is a software application for simulation and analysis of biochemical networks. It is developed jointly by the groups of Pedro Mendes (Virginia Bioinformatics Institute, USA, and University of Manchester, UK) and Ursula Kummer (University of Heidelberg, Germany), and is freely available for academic use.<br />
<br />
COPASI's current features include stochastic and deterministic time course simulation, steady state analysis (including stability), metabolic control analysis, elementary mode analysis, mass conservation analysis, import and export of SBML level 2, optimization, parameter scanning and parameter estimation. It runs on MS Windows, Linux, OS X, and Solaris SPARC.<br />
<br />
Participants are strongly encouraged to bring their own computers.<br />
<br />
Target Audience: This tutorial is primarily aimed at experimentalists who are newcomers to the computational side of systems biology or experienced modelers who want to explore advanced parameter estimation features of COPASI.<br />
</div><br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
