---
title: "COPASI 4 15 Build 95"
structure: "Change_History"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<h3 name="span_style_color_000088_Version_4_15_95_span_"><span style="color:#000088;">Version 4.15.95</span></h3>
Release Date: March 4, 2015<br />
<h4 name="New_Features_since_COPASI_4_14_Build_89_">New Features since COPASI 4.14 (Build 89)</h4>
<ul><li> Simulation Engine
<ul><li>
</li></ul></li></ul>
<h4 name="Bug_Fixes_since_COPASI_4_14_Build_89_">Bug Fixes since COPASI 4.14 (Build 89)</h4>
<ul><li> Graphical User Interface (CopasiUI)
<ul><li>
</li></ul></li><li> Simulation Engine
<ul><li>
</li></ul></li><li> SBML
<ul><li>
</li></ul></li><li> Source package
<ul><li>
</li></ul></li></ul>

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
