---
title: "ICSB 2006 Introduction Tutorial"
structure: "Events"
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

COPASI tutorial that took place at the<br />
<a target="_blank" href="http://www.icsb-2006.org/" rel="external">International Conference for Systems Biology, Yokohoma, October 9-13 2006</a>.<br />
<br />
<br />
<div class="simplebox"><br />
<h3 name="Tutorial_8_span_style_color_000088_Modeling_Simulating_and_Analyzing_Biochemical_Systems_with_COPASI_span_">Tutorial 8: <span style="color:#000088;">Modeling, Simulating, and Analyzing Biochemical Systems with COPASI</span></h3>
Presentation<br />
<h4 name="Schedule_">Schedule:</h4>
<ul><li> October 8th, 2006 morning session
</li></ul>
<h4 name="Instructors_">Instructors:</h4>
<ul><li> Ursula Kummer, Ralph Gauges and JÃƒÂ¼rgen Pahle  (EML Research gGmbH)
</li></ul>
<h4 name="Course_topics_">Course topics:</h4>
<ul><li> COPASI (Complex Pathway Simulator) is a software application for simulation and analysis of biochemical networks. It is developed jointly by the groups of Pedro Mendes (Virginia Bioinformatics Institute, USA) and Ursula Kummer (EML Research, Germany), and is freely available for academic use.
</li><li> COPASI's current features include stochastic and deterministic time course simulation, steady-state analysis (including stability), metabolic control analysis, elementary mode analysis, mass conservation analysis, import and export of SBML level 2, optimization, parameter scanning and parameter fitting. It runs on MS Windows, Linux, OS X, and Solaris SPARC. So, it is one of the few computational tools in systems biology that are OS X compatible.
</li><li> We will use COPASI to explain how the modelling, simulation and computational analysis of biochemical systems works. We will also critically evaluate the limitations of different simulation methods.
</li></ul>
<h4 name="Target_Audience_">Target Audience:</h4>
<ul><li> This tutorial is primarily aimed at experimentalists who are newcomers to the computational side of systems biology.
</li></ul>
<h4 name="Course_Size_">Course Size:</h4>
<ul><li> ~30 Participants
</li></ul>
<h4 name="Course_length_">Course length:</h4>
<ul><li> 3 hours
</li></ul>
<b><span style="color:#BB0000;">Participants are encouraged to bring their own computers.</span></b><br />
</div><br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
