---
title: "SBML"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<h4 name="Events_and_SBML">Events and SBML</h4>
We need to make sure that objects that are the target of an event assignment are not exported as const. Apperently this is already implemented.<br />

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
