---
title: "CState and CStateTemplate"
structure: "Intranet"
sitemap: false
---

{% include header.html %}
{% include navbar.html %}
{% include structure.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<br />
<h2 name="CModelEntity">CModelEntity</h2>
<h3 name="CModel">CModel</h3>
<h3 name="CCompartment">CCompartment</h3>
<h3 name="CMetab">CMetab</h3>
<h3 name="CModelValue">CModelValue</h3>
<br />
<h2 name="CReaction">CReaction</h2>

      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
{% include footer.html %}
